[2019-03-29 18:09] shawnawsu opened #1 "Updates to Entities, Bundles, and Fields"
Please tag all tickets and pr's with group 1 to denote it relates to this first group of updates.

Files this update will require to be reviewed and updated (in order):

- [ ] Tripal Module
     - [x] Convert tripal.info to tripal.yml
     - [x]  [tripal.module](https://github.com/tripal/t4d8/issues/17)
- [ ] Convert hook_menu and forms
     - [x] hook_menu
     - [x] tripal.admin_files.inc: #23,

[2019-03-29 20:25] shawnawsu opened #2 "Updates to Chado\Storage"
Please tag all tickets and pr's with group 2 to denote it relates to this group of updates.

Files this update will require to be reviewed and updated (in order):

- [ ] Tripal Chado Module
    - [x] Convert tripal_chado.info to tripal_chado.yml
        - [ ]  tripal_chado.module
    - [ ] Convert hook_menu and forms
    - [ ] Convert D7 variables to D8 Config
    - [ ] Convert D7 variables to D8’

[2019-03-29 20:48] shawnawsu opened #3 "Group 3: Updates to Job Management"
Please tag all tickets and pr's with group 3 to denote it relates to this group of updates.

Files this update will require to be reviewed and updated (in order):

- [x] Tripal Module
   - [x] tripal.jobs.api.inc
   - [x] TripalJob.inc
   - [x] tripal.jobs.inc
   - [x] Jobs admin views
   - [x] tripal.notice.api.inc
   - [x] drush commands

[2019-04-01 21:27] shawnawsu opened #4 "Updates to Data Importing"
Please tag all tickets and pr's with group 4 to denote it relates to this group of updates.

Files this update will require to be reviewed and updated (in order):

- [ ] Tripal Bulk Loader Module
    - [ ] Convert tripal_bulk_loader.info to tripal_bulk_loader.yml
        - [ ]  tripal_bulk_loader.module
    - [ ] Convert hook_menu and forms
    - [ ] Convert D7 variables to D8 Config
    - [ ] Con

[2019-04-01 21:30] shawnawsu opened #5 "Updates to Views"
Please tag all tickets and pr's with group 5 to denote it relates to this group of updates.

Files this update will require to be reviewed and updated (in order):

- [ ] Tripal Module
    - [ ] tripal_views_query.inc
    - [ ] tripal.views_default.inc
    - [ ] tripal.views.inc
    - [ ] Views_handlers
        - [ ] tripal_views_handler_area_collections.inc
        - [ ] tripal_views_handler_field

[2019-04-01 21:32] shawnawsu opened #6 "Updates to Web Services"
Please tag all tickets and pr's with group 6 to denote it relates to this group of updates.

Files this update will require to be reviewed and updated (in order):

- [ ] Tripal WS Module
    - [ ] Convert tripal_ws.info to tripal_ws.yml
        - [ ]  tripal_ws.module
    - [ ] Convert hook_menu and forms
    - [ ] Convert D7 variables to D8 Config
    - [ ] Convert D7 variables to D8’s state syst

[2019-04-01 21:34] shawnawsu opened #7 "Updates to Display"
Please tag all tickets and pr's with group 7 to denote it relates to this group of updates.

Files this update will require to be reviewed and updated (in order):

- [ ] Tripal DS Module
    - [ ] Convert tripal_ds.info tripal_ds.yml
        - [ ]  tripal_ds.module
    - [ ] Convert hook_menu and forms
    - [ ] Convert D7 variables to D8 Config
    - [ ] Convert D7 variables to D8’s state system

[2019-04-01 21:35] shawnawsu opened #8 "Updates to All Other Integrations"
Please tag all tickets and pr's with group 8 to denote it relates to this group of updates.

Files this update will require to be reviewed and updated (in order):

- [ ] Drush:
    - [ ] tripal.drush.inc
    - [ ] tripal_bulk_loader.drush.inc
    - [ ] tripal_chado.drush.inc
    - [ ] tripal_daemon.drush.inc
- [ ] Collections
    - [ ] tripal.collections.api.inc
    - [ ] Tripal.collections.inc
-

[2019-07-23 17:07] laceysanderson opened #9 "Group 1: Tripal Vocab & Tripal Term"
This is to specify my intention to work on converting Tripal Vocab and Tripal Term entity types over to D8.

[2019-07-23 17:22] laceysanderson commented on #9
## Summary of Functionality in Tripal 3:
- Vocabulary and Terms are created via the OBO loader programmatically.
- These entities/bundles do not have a structure or add content pages.
- There is an controlled vocabulary browser available at `cv/lookup` and custom chado.cv/cvterm add/list forms.
- While vocab/terms are database agnostic the main storage backend is chado cv/cvterm tables.

## Tripal

[2019-07-23 17:37] laceysanderson commented on #9
Drupal 8 defines our TripalVocab and TripalTerm as bundle-less content entities since they are not fieldable. Thus we can use [this guide to create a custom content entity](https://www.drupal.org/docs/8/api/entity-api/create-a-custom-content-entity) to guide our TripalVocab and TripalTerm entity types.

This work was started by @spficklin during T3D7 development and as such we already have the fol

[2019-07-24 04:27] laceysanderson commented on #9
Resources:
- https://www.drupal.org/docs/8/api/entity-api/create-a-custom-content-entity
- https://git.drupalcode.org/project/examples/tree/8.x-1.x/content_entity_example

See Branch `1-tv4-TripalVocab-TripalTerm`

[2019-07-25 22:46] laceysanderson commented on #9
TripalVocab:
 - [x] Listing
 - [ ] View single entity
 - [x] Add
 - [x] Edit
 - [x] Delete
 - [x] Testing
 - [x] Links and Routes
 - [x] Permissions

TripalVocab is done except I can't get the vocabulary name listed on the entity page. The entire list/CRUD is available through administration pages under structure. This is still independent from chado.cv and thus database agnostic.

[2019-08-05 16:39] laceysanderson commented on #9
TripalTerm:
 - [x] Listing
 - [ ] View single entity
 - [x] Add
 - [x] Edit
 - [x] Delete
 - [x] Testing
 - [x] Links and Routes
 - [x] Permissions

Changed listings so they point to edit forms. View pages still don't list fields but they arn't needed/used for Vocab/Terms. All tests pass.

[2019-08-05 21:41] laceysanderson commented on #1
PR: #10

Files this PR upgrades
 - TripalVocab
    - [x] TripalVocab.inc
    - [x] TripalVocabController.inc (no longer needed)
    - [x] TripalVocabViewsController.inc
 - TripalTerm
    - [ ] tripal.terms.api.inc
    - [x] TripalTerm.inc
    - [x] TripalTermController.inc (no longer needed)
    - [x] TripalTermViewsController.inc

## Method
- TripalVocab & TripalTerm are non-fieldable Drupal Enti

[2019-08-05 21:43] laceysanderson commented on #9
Closing as PR is merged

[2019-08-05 21:43] #9 closed, assigned to laceysanderson

[2019-09-17 22:12] bradfordcondon opened #11 "simple docker and integration"
- simple Docker to build Drupal site and install Tripal
- Hook up to CI to test builds

[2019-09-17 22:39] bradfordcondon commented on #11
so we do already have a docker file.  https://github.com/tripal/t4d8/tree/8.x-4.x/tripaldocker
I'll run it and see how it works.  I do think its a bit intimidating, I wonder if instead we had our dockerfile [start at Drupal 8's official image](https://hub.docker.com/_/drupal/) we could tone down how custom it is?

[2019-12-05 22:21] laceysanderson opened #13 "Tripal Bundle and Tripal Entity"
I'm starting to tackle Tripal Bundle and Tripal Entity; specifically,

  - [ ] TripalEntity
      - [x] TripalEntity.inc
      - [x] tripal.entity.inc (makes reference to bundles but contains functions called by TripalEntityUIController.inc)
      - [x] TripalEntityController.inc
      - [ ] TripalEntityCollection.inc
      - [x] TripalEntityUIController.inc
      - [x] TripalEntityViewsController

[2019-12-15 21:07] laceysanderson commented on #13
`TripalBundle` is now `TripalEntityType` to match D8 Node conventions.
TripalEntityType Todo list
- [x] determine needed properties
- [x] implement get/set methods.
- [x] ensure the entity can be created.
- [x] ensure entity can be edited.
- [x] ensure entity can be deleted.
- [x] listing of entities and properties.
- [x] ensure entities cannot be created with an already used term.
- [x] generate

[2019-12-24 03:25] laceysanderson commented on #13
Tripal Entity Type and Tripal Entities are working!!! You can now create entity types based on a tripal vocabulary term and then create basic pages of that type. At this point nothing is connected to Chado (completely generic!) and all Drupal fields work.

Next steps are to port over the API, title and URL patterns, etc.

[2019-12-24 14:17] laceysanderson commented on #13
## File Changelog: TripalEntity
### TripalEntity.inc
- `defaultLabel` becomes `getLabel`
- `defaultUri` becomes `urlInfo` from [ContentEntityBase](https://api.drupal.org/api/drupal/core%21lib%21Drupal%21Core%21Entity%21Entity.php/function/Entity%3A%3AurlInfo/8.2.x)
- `save` is inherited from [ContentEntityBase](https://api.drupal.org/api/drupal/core%21lib%21Drupal%21Core%21Entity%21Entity.php/func

[2020-01-02 02:24] laceysanderson commented on #13
I'm leaving TripalEntityController.inc for now since it doesn't actually pertain to the functioning of entities. Page title formats and URL alias' now work.

[2020-01-02 02:33] laceysanderson commented on #13
Basic views work for Tripal Content, Controlled Vocabularies and Controlled Vocabulary Terms. No views patch needed.
[Tripal4_Views_TripalEntity](https://user-images.githubusercontent.com/1566301/71740300-716d2c00-2e21-11ea-9bcf-b20153ec937a.png)
[Tripal4_Views_TripalTerm](https://user-images.githubusercontent.com/1566301/71740301-7205c280-2e21-11ea-9fce-c00542e5eb77.png)
[Tripal4_Views_TripalVoca

[2020-01-03 20:00] #13 closed, assigned to laceysanderson

[2020-01-03 20:07] laceysanderson commented on #1
PR #13
PR #14
PR #15

## Tripal Entity Type and Tripal Entity

Tripal content and tripal content types are now fully functional! Additionally, I expanded Tripal Vocab and Tripal Term to include all details needed independent of Chado and added view pages. I l also tested basic views integration and it works!

### Files these PRs upgrade

 - [x] TripalEntity
    - [x] TripalEntity.inc
    - [x] tri

[2020-01-05 17:50] laceysanderson opened #16 "How can we help you?"
This upgrade to Drupal 8 is a community effort. As such, we NEED YOUR HELP!

This issue was created as a safe place for you to request documentation, point out barriers and share tips with the community. We will use this issue to improve our documentation and make contribution easier!

[2020-01-05 18:10] laceysanderson commented on #11
I think that's a great idea! Also less for us to maintain :-)

I know you've been busy lately @bradfordcondon but can you update us on any progress so that someone else could help with this during the Hackathon at PAG?

[2020-01-05 19:04] laceysanderson opened #17 "Group 1: Convert functions in tripal.module file"
This was started and almost completed by @shawnawsu. The intent is to convert all functions in the [tripal 3 tripal.module file](https://github.com/tripal/tripal/blob/7.x-3.x/tripal/tripal.module) to Drupal 8.

Here is the list of functions from Tripal 3:
- [x] tripal_views_api(): [removed](https://www.drupal.org/node/1875596)
- [x] tripal_init(): [replaced by tripal_preprocess_html](https://githu

[2020-01-05 19:14] laceysanderson opened #18 "Group 1: Upgrade Tripal Core blocks"
Blocks to be upgraded:
- Notifications
![Screen Shot 2020-01-05 at 1 12 14 PM](https://user-images.githubusercontent.com/1566301/71784797-24be5800-2fbd-11ea-9ad0-60c6f6ed841b.png)
- Powered by Tripal
![Screen Shot 2020-01-05 at 1 13 11 PM](https://user-images.githubusercontent.com/1566301/71784798-2a1ba280-2fbd-11ea-8ceb-d20ae2e93e5a.png)
- Content bar chart
![Screen Shot 2020-01-05 at 1 12 23 PM]

[2020-01-05 19:20] laceysanderson opened #19 "Group 1: Upgrade menu items"
I believe this is actually complete so all that's needed here is to double check :-) This would be a great task to familiarize yourself with menu items in Drupal 8!

Resources:
- [hook_menu in Tripal 3](https://github.com/tripal/tripal/blob/7.x-3.x/tripal/tripal.module#L100-L609)
- [Drupal 8 upgrade tutorial](https://www.drupal.org/docs/8/converting-drupal-7-modules-to-drupal-8/d7-to-d8-upgrade-tu

[2020-01-05 19:35] laceysanderson opened #20 "Group 1: Upgrade Permissions (only checking needed)"
I believe this is complete and stored in the tripal.permissions.yml file: All that is needed is double checking. This is a great opportunity to familiarize yourself with permissions in Drupal 8!

Resources:
- [hook_permissions in Tripal 3](https://github.com/tripal/tripal/blob/7.x-3.x/tripal/tripal.module#L708-L786)
- [Drupal 8 changelog](https://www.drupal.org/node/2311427)
- [Drupal 8 Permission

[2020-01-05 19:40] laceysanderson opened #21 "Group 1: Default Tripal Shortcuts"
This has been partially implemented but commented out since it causes another dependency. I think default shortcut sets help new users tremendously and thus am tempted to add this anyway -**what do others in the community think?**

[2020-01-05 19:52] laceysanderson opened #22 "Group 1: HTML5 File Upload Element"
This issue is to handle upgrading the Tripal HTML5 upload form element used in all Tripal Importers.

Resources:
- [ ] [Implementation in Tripal 3](https://github.com/tripal/tripal/blob/7.x-3.x/tripal/tripal.module#L1398-L1568)
- [ ] [hook_element_info is replaced by class](https://www.drupal.org/node/2320115)

[2020-01-05 19:53] laceysanderson commented on #17
Since this can be a bit overwhelming, I've broken it down into sub-issues with specific documentation:
- #18 Upgrade Tripal Core blocks
- #19 Upgrade menu items (only checking needed)
- #20 Upgrade Permissions (only checking needed)
- #21 Default Tripal Shortcuts (discussion)
- #22 Tripal HTML5 file upload form element

Items not broken into issues... if you feel these need their own issue, feel f

[2020-01-06 03:33] laceysanderson opened #23 "Group 1: FORMS Tripal File Management forms"
In Tripal 3 we have a file management system for users. This issue is to upgrade the administration forms for this file management system. Specifically,

See`admin/tripal/files` and sub-pages on your Tripal3 site.
![Screen Shot 2020-01-05 at 9 29 19 PM](https://user-images.githubusercontent.com/1566301/71793459-89e86c80-3002-11ea-9e27-e9037ff97311.png)
![Screen Shot 2020-01-05 at 9 29 29 PM](https

[2020-01-06 18:17] laceysanderson opened #24 "Group 1: FORMS Registration Form"
In Tripal 3 we have a registration form for administrators to register with tripal.info. This is important for ongoing funding and presentations. This issue is to upgrade the Site Registration form shown below to Drupal 8:
![Firefox_Screenshot_2020-01-06T18-17-08 386Z](https://user-images.githubusercontent.com/1566301/71838460-78dd4100-307e-11ea-9698-400f1f5a0ed5.png)

Resources:
- [Tripal 3 imple

[2020-01-06 19:04] laceysanderson opened #25 "Group 1: Installation File"
This issue is for upgrading the content of the `tripal/tripal.install` file. Really the only thing to be updated is hook_schema and not many changes were made in Drupal 8.

Notes:
- We are not worrying about the upgrade process as this point.
- We are keeping the tripal_variables infrastructure but no longer using them for core thus the `tripal_add_variables` function does not need to be upgraded.

[2020-01-06 19:10] laceysanderson opened #26 "Group 1: API Vocab/Terms api"
This issue is specifically to upgrade [tripal/tripal/api/tripal.terms.api.inc](https://github.com/tripal/tripal/blob/7.x-3.x/tripal/api/tripal.terms.api.inc). **To take on upgrade of one of these functions just comment below with the function you would like to take on.**

- [ ] Hooks near the top of the file
- [ ] tripal_add_term()  **[Good first task]**
- [x] tripal_get_term_details() **[Good fir

[2020-01-06 19:31] laceysanderson opened #27 "Group 1: API Entities api"
This issue is specifically to upgrade [tripal/tripal/api/tripal.entities.api.inc](https://github.com/tripal/tripal/blob/7.x-3.x/tripal/api/tripal.entities.api.inc). **To take on upgrade of one of these functions just comment below with the function you would like to take on.**

- [ ] Hooks at the beginning of the file and tripal_tripal_cron_notification()
- [ ] tripal_load_entity() **[Good first t

[2020-01-06 22:31] laceysanderson opened #28 "Group 1: TripalField"
This issue deals with updating the TripalField infrastructure. The hope is to do this such that minimal to no work needs to be done on contributed fields. Specifically, these are the files being updated:

- [ ] TripalField
  - [ ] Tripalfields
  - [ ] TripalField.inc
  - [ ] TripalFieldFormatter.inc
  - [ ] TripalFieldWidget.inc
  - [ ] CONTENT_TYPE
    - [ ] content_type.inc
  - [ ] RDFS__TYPE

[2020-01-07 00:27] laceysanderson commented on #1
I've gone through and created issues for all the remaining parts of group 1. You can access them [using the group 1 tag](https://github.com/tripal/t4d8/issues?q=is%3Aissue+is%3Aopen+label%3A%22Group+1+-++Entities%7CBundles%7CFields%22) or by checking the main list at the top of this page which I updated with the sub-issues.

To jump in, mention your intent on one of the sub-issues and once complet

[2020-01-07 18:06] bradfordcondon commented on #11
nope no progress since my last message.  I do think if we can run it off the official d8 it will greatly simplify the docker build script to make it easier for people to work with/understand. I'm just not sure at what cost.

[2020-01-09 15:14] almasaeed2010 commented on #25
PR submitted #29

[2020-01-09 15:18] almasaeed2010 commented on #23
I am gonna attempt to get this done

[2020-01-09 17:30] risharde commented on #24
I'll try my best to convert this from D7 to D8

[2020-01-09 17:31] risharde commented on #24
I'm trying my very best to get this converted @laceysanderson

[2020-01-09 19:35] risharde commented on #24
https://github.com/tripal/t4d8/pull/30 @laceysanderson

My apologies, this is as much as I can do at the moment due to my inexperience with D8, the PR shows what still needs to be done like form_state and multiple fund sources button

[2020-01-09 19:50] laceysanderson commented on #24
Awesome! Thanks for getting us started :-) I'll take a look at it right away

[2020-01-09 21:38] laceysanderson commented on #25
PR Merged 🎉

[2020-01-09 21:38] #25 closed, assigned to nobody

[2020-01-09 23:58] laceysanderson commented on #24
I've committed your PR (#30) into `d8-tv4-issue24-registrationform` branch to provide a great base for future work on this issue. Thank you!

[2020-01-10 00:51] katherynbuble commented on #24
Planning to work on this tomorrow (Jan 10, 2020).

[2020-01-10 03:06] risharde commented on #24
Thank you @katherynbuble ! Really appreciate you continuing this!

[2020-01-10 16:07] almasaeed2010 commented on #23
PR submitted #31

[2020-01-10 16:27] almasaeed2010 commented on #11
I'll try to get a docker compose file built for this starting from Drupal 8 official image.

[2020-01-16 16:50] laceysanderson commented on #19
@srobb1 did a great job checking this over in #33. All that's left to deal with is:

## Need to deal with:

tripal.cv_lookup
tripal.cv_lookup_term
tripal.cv_lookup_term_children
 - do not have menu items but on Tripal3 they are the user-focused cvterm lookup pages.

tripal.user_files
 - should be a tab on the user page.

tripal.admin_cv_lookup
 - Considering this a duplicate

[2020-01-16 17:40] laceysanderson commented on #19
Complete!

[2020-01-16 17:40] #19 closed, assigned to nobody

[2020-01-16 18:24] laceysanderson commented on #11
PR from @almasaeed2010 merged. We now have a working docker instance 👍

From the PR:

Usage is documented in  the [README](https://github.com/tripal/t4d8#docker)

[2020-01-17 04:35] laceysanderson commented on #11
I have Travis CI working in branch `8.x-4.x`. It's using the base Travis environment, Postgresql 10, php 7.2 and Drupal 8.8.x-dev. The site is installing properly and the module enables. However, tests are still failing:
[code]

This is likely just a matter of me not knowing what port, etc. the website in Travis is on... 🤞

Note: I didn't use the docker because running Drupal 8 phpunit tests are v

[2020-01-17 13:34] almasaeed2010 commented on #11
I don't see a server running in travis.yml. I only checked the master branch though. We could try `drush serve --uri="http://localhost:8080"` if that's what's missing.

[2020-01-17 13:37] almasaeed2010 commented on #23
This has been merged but there is a remaining issue with the "edit" and "remove" links not rendering correctly.

<img width="855" alt="Screen Shot 2020-01-17 at 8 36 40 AM" src="https://user-images.githubusercontent.com/1512664/72616299-9d4dde80-3904-11ea-9125-2d25b91161f3.png">

[2020-01-17 13:39] almasaeed2010 commented on #11
Here are the docs for [drush's serve command](https://drushcommands.com/drush-9x/core/runserver/`)

[2020-01-17 19:36] laceysanderson commented on #11
Interestingly the tests fail when the server is run using drush serve and pass with apache (confirmed locally).
[code]
I've looked back into the docker and as expected it's the stable Drupal version so we cannot run tests on it (I tried just in case). As an alternative, I'm working to [install apache using our .travis.yml](https://docs.travis-ci.com/user/languages/php/#apache--php).

[2020-01-17 21:05] laceysanderson commented on #23
Fixed in the most recent commit using render arrays.
![Screen Shot 2020-01-17 at 3 05 26 PM](https://user-images.githubusercontent.com/1566301/72646060-c9845200-393a-11ea-82fd-e25b255f4acc.png)

[2020-02-05 19:04] laceysanderson commented on #11
I have tests passing on Travis! I ended up just making us a Drupal docker to work from 🤷‍♀
https://travis-ci.org/tripal/t4d8/builds/646549958

[2020-02-07 22:11] srobb1 commented on #20
I think I understand, and I searched for each of the permission types in 7.x-3.x in the t4d8 tripal.permissions.yml file.

I found most of the T3 permissions described in T4D8, but not all. See tables below for more detail and notes. In summary, we are missing uploading, importers, publishing, and "view/dev/helps" permissions.

When you check out these tables, it should be clear if I am understand

[2020-02-09 14:55] laceysanderson opened #39 "Automated testing for entities"
I'm working on adding automated testing for the base functionality of entities. This will provide a more stable base for adding field functionality.

[2020-02-19 18:27] par12005 commented on #24
@laceysanderson, I just submitted a PR for my attempt at implementing the submission/validation functions for the registration form.

Also, I'm new to both Tripal 4 and Drupal 8, so if my code has any issues related to the differences between T3/4 or D7/8, please let me know, I would love to learn more about both!

[2020-03-25 17:30] par12005 opened #41 "Rename table tripal_admin_notfications"
The table `public.tripal_admin_notfications` is spelled wrong. This is also true for Tripal 3. I assume it would not necessarily be feasible to correct this for Tripal 3, but we might want to correct this at least for Tripal 4. This should be pretty trivial since the table currently only appears in the `tripal.install` file as far as I can tell.

[2020-03-31 14:24] par12005 commented on #18
I am waiting to mark my PR tripal/t4d8#43 as "ready to merge" because I would like to have the `tripal_admin_notfications` table spelled correctly (PR tripal/t4d8#42) before this code is merged, since the Notifications block depends on that table.

[2020-03-31 14:26] par12005 commented on #18
Also, the "Dismiss notification" links are valid but currently do nothing, because I wasn't sure if they would count towards this issue. If so, I will implement their functionality and add it to PR tripal/t4d8#43 as well.

[2020-04-01 21:05] par12005 commented on #22
@laceysanderson, I've submitted PR #44 which upgrades the HTML5 File Upload form element to Drupal 8.

[2020-04-06 02:40] laceysanderson opened #45 "Registrations: Tripal 4 vs. 3 cannot be told appart"
The current registrations do not identify the Tripal version.

[2020-04-06 13:00] bradfordcondon commented on #45
we should definitely specify the major version.  are we also not specifying the minor version?  I suppose that would also mean we want to update the minor version when the system updates.

[2020-04-06 14:13] #41 closed, assigned to nobody

[2020-04-06 14:17] par12005 commented on #24
Thanks @laceysanderson for merging my PR! Do you think the branch `d8-tv4-issue24-registrationform` is ready to be merged into `8.x-4.x`?

[2020-04-06 14:42] par12005 commented on #8
I updated D3js as part of PR #43, since D3js was required for the Content Type Bar Chart block. From what I could tell, the `tripal_add_d3js()` function simply added the D3 JS library to the page. This can now be achieved by adding `'#attached' => ['library' => ['tripal/d3']]` to your Drupal 8 render array. You can see an example of this in [`tripal/src/Plugin/Block/ContentBarChartBlock::build()`]

[2020-04-06 14:47] par12005 commented on #4
I updated `includes/tripal.upload.inc` and `api/tripal.upload.api.inc`, now combined into [`tripal/api/tripal.upload.api.php`](https://github.com/tripal/t4d8/pull/44/files?file-filters%5B%5D=.php#diff-96354170b78742ae7641166b5f79b5c9), in PR #44, since the upload API needed to be upgraded in order for the HTML5 file upload field to function properly.

[2020-04-06 19:29] laceysanderson commented on #24
I guess we could. I was going to wait until tripal/tripal#1329 was fixed but that could be done after as well. It is completely functional after all 😃 👍

[2020-04-06 19:45] laceysanderson commented on #24
Thank you everyone for your contributions!!! The registration form has been merged back into `8.x-4.x` and works! The only think left to be completed is tripal/tripal#1329 which will be carried on in that issue.

[2020-04-06 19:45] #24 closed, assigned to nobody

[2020-04-06 19:58] par12005 commented on #24
Thanks @laceysanderson!

[2020-04-13 16:23] laceysanderson commented on #22
Merged 👍  Thank you for the contribution!

[2020-04-13 16:23] #22 closed, assigned to nobody

[2020-05-28 17:08] laceysanderson opened #47 "Tripal Upgrade: Upgrade Tripal from Drupal 7 to Drupal 8"
This issue holds the roadmap and resources for upgrading Tripal core from Drupal 7 to Drupal 8.

## Upgrade Resources

- [Writing migrations for contributed and custom modules](https://www.drupal.org/docs/8/api/migrate-api/writing-migrations-for-contributed-and-custom-modules)
- [A Guide for Upgrading a Drupal 7 Website to Drupal 8 ](https://www.cloudways.com/blog/upgrade-drupal-7-to-drupal-8/)

#

[2020-06-02 13:51] laceysanderson commented on #23
This was completed

[2020-06-02 13:51] #23 closed, assigned to nobody

[2020-06-02 14:26] laceysanderson commented on #39
I've added some automated testing but we could use more.

[2020-06-02 14:27] laceysanderson commented on #28
This needs to wait until the chado api is updated.

[2020-06-02 14:34] laceysanderson opened #50 "Group 2: Tripal Chado SCHEMA API"
This issue was originally used for a small set of miscellaneous functions which need upgrading. That has been moved to #122 and this issue has been re-assigned for the discussion of the Chado Schema API. This was done since the Chado Schema API did not have a dedicated issue and @guignonv started a good discussion here.

**ONLY discuss the Chado Schema API here. This should not include information

[2020-06-02 14:37] laceysanderson opened #51 "Group 2: Chado Custom Tables API"
This issue refers to upgrade of [tripal_chado.api.inc](https://github.com/tripal/tripal/blob/7.x-3.x/tripal_chado/api/tripal_chado.api.inc) **To take on upgrade of one of these functions just comment below with the function you would like to take on.**

- [ ] chado_edit_custom_table() **[Good first task]**
- [ ] chado_create_custom_table() **[Good first task]**
- [ ] chado_validate_custom_table_sc

[2020-06-02 16:00] risharde opened #52 "Choosing another schema for chado (for testing)"
This was a great suggestion by Valentin Guignon in the Tripal Core Meeting on 2nd June 2020 in which I also think could be useful especially for preserving the data in live data implementations.

I am however wondering how we can go about getting this new functionality in, particularly if we are going to have a different schema for a test version of chado - how would we be able to link a specific

[2020-06-02 18:12] par12005 opened #53 "Tripal Content Type Machine Name Bugs"
Setting a custom machine name for Tripal Content Types that does not abide by the `bio_data_n` convention seems to be causing some issues.

For example, I had two Tripal content types on my dev site. The first was the "Gene" content type, and I allowed it to use the default `bio_data_1` machine name. The second content type was the "Test Type" content type, and I set a custom machine name of `bio_

[2020-06-03 07:16] guignonv commented on #52
To clarify, it is not so complicated but requires some tricks. Well, in fact, there can be several approaches.

The first one would be the same as previous Tripal versions: just provide [hooks that can alter the Chado schema name](hook_tripal_get_schema_name_alter()) in [every queries](tripal_mc_chado_query_alter).

The second one would be to merge the features of [Tripal Multi Chado](https://www.

[2020-06-03 07:51] guignonv commented on #52
A comment on **why including this feature in Tripal would be a good thing**. Handling several Chado schema in one database allows:
-sharing a **same configuration** for several dataset;
-having one or more **private and public** dataset on one site; access restriction can be easily and safely managed through Drupal (no need to write an admin interface);
-**unit/functional testing** on a blank chad

[2020-06-03 08:53] guignonv commented on #52
And another separated comment (to ease quotes) about **technical details** on how to implement multiple chado instance support.

In Chado-related queries, chado tables can be either prefixed with the chado schema name or not prefixed but the PostgreSQL "search_path" is changed making so the chado schema will be the first place where PostgreSQL will look for tables. So the 2 following things can be

[2020-06-03 09:12] guignonv commented on #52
Therefore, my **recommendations** would be to provide a function that returns current Chado schema name and provides a hook to alter its answer. For future improvements, that function should take a schema name as parameter so we could be able, one day, to query several chado instances at the same time or even other types of schema (if there will be chado alternative schema).
`function tripal_get_s

[2020-06-03 10:24] guignonv commented on #52
More things:

- Chado schema instanciation: the Chado SQL script used to instanciate Chado should not contain the chado schema name or it should be possible to alter the schema name easily before the script is run (currently the Multi-Chado does it by altering the raw SQL query which is not really nice).

- It would be nice to provide a function that can clones a Chado schema. I have made such a f

[2020-06-03 15:50] laceysanderson commented on #52
Thank you so much for taking the time to provide all this information @guignonv! I will keep it in mind while working on the Tripal Chado upgrade and see how many of these features we can incorporate starting with the chado installer including the ability to specify schema name!

For now, I'm focusing my thoughts on:
1. Ability to install chado in a different schema name.
2. Upgrade current hook s

[2020-06-05 22:23] laceysanderson commented on #53
Thanks for pointing this out! I've added a PR to disable changing the machine name. I choose this route since I believe many Tripal3 extension modules including Tripal core may have made assumptions about this name as it cannot be changed in Tripal3. If you could find time to review that PR I would greatly appreciate it!

[2020-06-08 20:07] guignonv commented on #52
Sounds good to me! :-)

[2020-06-09 03:26] laceysanderson commented on #53
PR Merged 👍

[2020-06-09 03:26] #53 closed, assigned to nobody

[2020-06-09 16:02] par12005 commented on #53
Thanks @laceysanderson!

[2020-06-14 02:19] laceysanderson opened #55 "Switch to Drupal 9!"
Drupal 9.0 has been officially released so we should switch to it! :-D

[2020-06-15 01:55] laceysanderson commented on #55
Started in branch 9.x-4.x which installs without error.

[2020-06-17 00:58] laceysanderson commented on #55
Officially complete! Please switch all development to Drupal 9.0.x and branch 9.x-4.x

[2020-06-17 00:58] #55 closed, assigned to nobody

[2020-06-21 04:37] laceysanderson opened #57 "Chado install schema -custom name"
Task based on #52

*Excerpt:*

This issue is focusing on allowing chado to be installed in a different chado schema name and allowing a new chado install beside an existing one.

[2020-06-25 20:33] spficklin opened #60 "CV Term accessions"
When adding a controlled vocabulary to Tripal for content types, it automatically adds the short name as the prefix to any accession.  For some vocabularies, such as EDAM, the short name can vary so automatically adding the short name will be incorrect for those types of vocabularies.

[2020-06-25 20:51] spficklin opened #61 "Updates to the tripal_vocab table."
To be backwards compatible with the `tripal_get_term_details` API function the tripal_vocab tables need the `url` and `urlprefix` columns.

[2020-06-25 21:04] spficklin commented on #26
I'll start working on these.

[2020-06-25 21:29] spficklin commented on #61
Wait... this may not be the case.  Hold off on fixing this until I get through issue #26

[2020-06-26 03:16] spficklin commented on #28
Since this is closely tied to #26 I'm going to tackle this one as well.

[2020-06-26 19:29] laceysanderson commented on #57
Working in branch [57-customChadoInstall](https://github.com/tripal/t4d8/tree/57-customChadoInstall). Upgraded functions to a custom Drupal 8/9 service but kept `tripal_chado_load_drush_submit()` and `tripal_chado_install_chado()`. Just need to add automated testing and some form improvements.

[2020-07-07 04:52] laceysanderson commented on #57
I've now
 - added documentation,
 - abstracted parts of the chado install into a bulkPgSchemaInstaller service which facilitates installation of other database schema.
 - added automated tests for the bulkPgSchemaInstaller service

Left to be done:
 - [x] improve the form so that the schema name are advanced options
 - [x] add automated testing for the form
 - [x] add automated testing for the cha

[2020-07-11 18:40] laceysanderson commented on #57
PR Submitted! Please Review <3

[2020-07-27 20:54] #57 closed, assigned to laceysanderson

[2020-07-28 12:23] Ferrisx4 opened #63 "Blank page (not WSOD) when adding Tripal Content when no Tripal Content Types exist"
If an admin attempts to add Tripal Content and there have been no Tripal Content types added (with proper CV and CV term), a blank page is displayed. This is in relation to recently merged PR https://github.com/tripal/t4d8/pull/62

[2020-08-24 15:49] #11 closed, assigned to bradfordcondon

[2020-09-10 03:35] laceysanderson commented on #26
Completed `tripal_get_term_details()` in branch `28-tv4-tripalFields`

[2020-09-14 12:17] Ferrisx4 commented on #51
I'll be tackling `chado_edit_custom_table()`, `chado_create_custom_table()`, `chado_validate_custom_table_schema` for now, and the rest shortly after.

[2020-10-03 04:40] kichloo opened #67 "Issue template"
Document an issue template for the given project

[2020-10-03 04:41] kichloo commented on #67
Please assign this issue to me.

[2020-10-05 23:13] spficklin commented on #4
Should we move the Tripal bulk loader outside of Core Tripal and make it an extension module?

[2020-10-07 00:49] spficklin commented on #3
I'm going to start the Tripal Jobs conversion.  For the alpha  release.  This will not include the TripalDaemon (that will be done later).

[2020-10-07 02:31] spficklin commented on #3
The branch used for this work is named `3-tv4-jobs`

[2020-10-09 00:39] ng29 commented on #17
Heya @laceysanderson ,

I can give it a shot on this. (Though incase any queries will ping ya)

Cheers.

[2020-10-09 05:57] swapniljha001 commented on #51
What does one have to do to resolve this issue?

[2020-10-09 12:08] Ferrisx4 commented on #51
hi @swapniljha001. I have finished about 75% of the custom table functions and should have a PR ready soon for this.

[2020-10-14 18:16] laceysanderson commented on #17
We're happy to have you 😃 Just checking in: how are things going? Any questions?

[2020-10-14 18:28] ng29 commented on #17
@laceysanderson  Can i get some more info what needs to be achieved in this issue so that can start it , as it seems kinda Giant rock.

And all functions need to be catered under one PR  or in chunks ? .

[2020-10-14 20:21] laceysanderson commented on #17
In comment https://github.com/tripal/t4d8/issues/17#issuecomment-570941796 I split out a bit of the work into other issues so you don't need to worry about those functions. Instead, for this issue you should focus on the following:

- [x] tripal_users_autocomplete($string): [db_select is deprecated](https://api.drupal.org/api/drupal/core%21includes%21database.inc/function/db_select/8.6.x)
- [x] tr

[2020-10-14 20:33] ng29 commented on #17
Thanks alot for such detailed explaination, and  as far as i understood our main concern is upper 4 functions in your above comment.

Also could you please guide me that from i have to confirm (any link to docs or something) and directory path where these functions need to omitted or any other operation required.

Cheers

[2020-10-14 22:02] laceysanderson commented on #17
Exactly :-)

All the functions should all be in https://github.com/tripal/t4d8/blob/9.x-4.x/tripal/tripal.module (although I see the autocomplete is missing 🤷‍♀️ ) This task requires digging through the new Drupal 8/9 documentation to see if they are still needed. This was the function that they accomplished in Drupal 7:

-  tripal_users_autocomplete(): provided an autocomplete for form fields tho

[2020-10-14 22:17] ng29 commented on #17
Ah, now I am getting somethings in my head... and it needs a high level of concentration to check these out.
But the main problem is that I am not much into Drupal stuff so might not be able to decide the exact use case and regression of omitting some function, too.

So what's your opinion, if we can do it together and you can guide me on slack/another mode.

Cheers

[2020-10-14 22:35] laceysanderson commented on #17
Feel free to ask me questions either here or on slack :-) The easiest one to track down is likely hook_coder_ignore() so I would start there.

[2020-10-14 22:36] ng29 commented on #17
Okay cool, will see if i got some guts to nail this down

[2020-10-20 13:55] Ferrisx4 commented on #51
[Main commit](https://github.com/tripal/t4d8/commit/3fe1016f7637baaf11f5d831a76bc2c4ed3106b4) for this API. Currently testing, will issue PR soon.

[2020-10-25 06:08] spficklin commented on #3
I removed the TripalDaemon from this item and created a new issue for it. #68

[2020-10-25 06:09] spficklin opened #68 "Group 3: Tripal Deamon"
Please tag all tickets and pr's with group 3 to denote it relates to this group of updates.

Files this update will require to be reviewed and updated (in order):

- [ ] Tripal Daemon Module
   - [ ] Convert tripal_daemon.info to tripal_daemon.yml
      - [ ]  tripal_daemon.module
   - [ ] Convert hook_menu and forms
   - [ ] Convert D7 variables to D8 Config
   - [ ] Convert D7 variables to D8’s

[2020-10-27 00:14] spficklin opened #70 "Group 3: Functional Tests for Job Management #3"
This is to remind us to do functional tests for job management.

[2020-12-09 21:09] laceysanderson commented on #67
We do not want an issue template at this time as the repository is focusing on rapid upgrade. Thank you though.

[2020-12-09 21:09] #67 closed, assigned to nobody

[2020-12-09 21:10] laceysanderson commented on #3
Work is merged! Thank you @spficklin 🎉

[2020-12-09 21:10] #3 closed, assigned to spficklin

[2020-12-09 21:11] laceysanderson commented on #5
The Tripal Jobs listing using a Drupal 8 View. Use this for reference.

[2020-12-09 21:38] laceysanderson opened #77 "Group 1: Dismiss Notifications"
On `admin/dashboard` when you have notifications there will be a dismiss link. Currently this link does not do anything.
<img width="1235" alt="Screen Shot 2020-12-09 at 3 37 18 PM" src="https://user-images.githubusercontent.com/1566301/101691534-6d378e80-3a34-11eb-9f38-bb160f16e875.png">

To manually add a notification for testing use the following:
[code]

[2020-12-09 21:39] laceysanderson commented on #18
Moved notifications functionality into tripal/tripal#1331. Now this issue can be closed -Thank you @par12005!

[2020-12-09 21:39] #18 closed, assigned to nobody

[2020-12-09 21:44] laceysanderson commented on #17
Not Needed:
tripal_form_field_ui_field_edit_form_alter(&$form, &$form_state, $form_id): handled by fields.
tripal_form_alter(&$form, $form_state, $form_id): TripalField implementation does this.
tripal_field_display_TripalEntity_alter(&$display, $context)
tripal_field_group_table_rows_alter(&$element, &$children)

Remaining:
#21 Default Tripal Shortcuts (discussion)

Since there is only a single t

[2020-12-09 21:44] #17 closed, assigned to nobody

[2020-12-09 21:45] laceysanderson commented on #20
Thank you @srobb1!!! 🎉  I've followed up with all of these and everything looks good now

[2020-12-09 21:45] #20 closed, assigned to nobody

[2020-12-09 21:47] laceysanderson opened #78 "Group 1: Automated Testing for Permissions"
We should have automated testing for our permissions to ensure they are working as expected.

[2020-12-24 16:17] laceysanderson opened #81 "Integrate TripalVocab and TripalTerm with Chado"
Currently TripalVocab and TripalTerm are completely database agnostic 🎉

Now we want to add functionality to these classes to allow extension modules to integrate with them. Specifically, to allow extension modules to hook into the save and load so they can also save additional information in their own database. Open question: How do we want to save these links? Do we want to leave that to the imp

[2020-12-24 16:20] laceysanderson commented on #61
Now a duplicate of #81

[2020-12-24 16:20] #61 closed, assigned to spficklin

[2020-12-24 16:35] #26 closed, assigned to nobody

[2020-12-24 16:46] laceysanderson opened #83 "Implement Test Coverage using GitHub Actions."
See https://docs.codeclimate.com/docs/github-actions-test-coverage
and https://github.com/paambaati/codeclimate-action

[2020-12-28 17:47] laceysanderson commented on #60
Proposition:
If we have a TripalVocab object for each namespace in a vocabulary (i.e. EDAM:data and EDAM:format would be separate vocabulary objects) then we can attach each TripalVocab object to both a cv and db in Chado effectively getting rid of the need for the db2cv materialized view. I feel this will be more performant and intuitive and make look-up easier.

[2020-12-28 18:32] laceysanderson commented on #60
The "short_name" is actually the IDspace and needs to be updated to be such. https://owlcollab.github.io/oboformat/doc/GO.format.obo-1_4.html#S.1.6

[2020-12-28 19:58] laceysanderson commented on #60
Ok after an awesome discussion with @spficklin, here is the current plan:

We are going to have 3 classes:
 - TripalVocab is the namespace/vocabulary
 - TripalVocabSpace is the IDSpace. It points to an originator TripalVocab and then can also point to multiple accessory TripalVocabs.
 - TripalTerm is the actual term. It points to a single IDSpace (TripalVocabSpace).

## Typical Term

A typical ter

[2021-01-02 18:58] laceysanderson commented on #60
PR Merged

[2021-01-02 18:58] #60 closed, assigned to nobody

[2021-01-04 21:05] laceysanderson opened #88 "Create Icons for the Tripal Toolbar!"
PR #87 added Tripal to the administration toolbar!

However, you'll notice the administrative toolbar typically has really awesome minimalistic icons... and we do not. This Issue is to remind us to make some :-)

Here they are in core: https://api.drupal.org/api/drupal/core%21modules%21toolbar%21css%21toolbar.icons.theme.css/8.2.x
Drupal uses these: https://github.com/ry5n/libricons/tree/master/sr

[2021-01-04 23:20] laceysanderson commented on #21
I no longer think this is needed as I've added Tripal to the main administration toolbar and included quick links as needed bringing content, structure and administrations into once quick menu tray.

[2021-01-04 23:20] #21 closed, assigned to nobody

[2021-01-04 23:37] laceysanderson commented on #52
Completed:
✅ Chado can be installed in different named schema with multiple chado supported by the installer.
✅ The Chado Query API handles multiple chado installations though allowing the chado schema to be passed in and propagated through all commands.
✅ All testing is done in a `testchado` named schema with automated testing environments not even having a `chado` named schema! This ensures ever

[2021-01-04 23:39] laceysanderson commented on #51
Completed

[2021-01-04 23:39] #51 closed, assigned to Ferrisx4

[2021-01-05 18:33] laceysanderson opened #89 "Group 2: Chado Setup/Prepare"
We need to upgrade the prepare step which happens after chado is installed.

Tripal 3: https://github.com/tripal/tripal/blob/7.x-3.x/tripal_chado/includes/setup/tripal_chado.setup.inc

This will include
 - [the simple form](https://github.com/tripal/tripal/blob/7.x-3.x/tripal_chado/includes/setup/tripal_chado.setup.inc#L10)
 - [Creating Tripal Vocabs, etc.](https://github.com/tripal/tripal/blob/7.

[2021-01-07 14:48] Ferrisx4 commented on #27
Tackling a few of these, starting with tripal_load_entity()

[2021-01-11 18:34] laceysanderson commented on #27
For working on tripal_get_content_types(). Here is the function in Tripal3: https://github.com/tripal/tripal/blob/7.x-3.x/tripal/api/tripal.entities.api.inc#L612

To do this you are going to want to work with the entity query api: https://api.drupal.org/api/drupal/core!lib!Drupal.php/function/Drupal%3A%3AentityQuery/8.2.x for the [TripalEntityType](https://github.com/tripal/t4d8/blob/9.x-4.x/tripa

[2021-01-11 18:56] risharde commented on #63
Crude initial commit for advice/feedback - https://github.com/tripal/t4d8/tree/63-tv4-wsod_addcontent

[2021-01-11 19:06] laceysanderson commented on #81
Currently branch `81-chadoVocabTerms` has created a plugin system for providing additional storage for TripalVocab, TripalVocabSpace and TripalTerm. The plugin is TripalTermStorage and acts on all three classes. An extension module can then implement that plugin and the implementation will automatically be called on insert/update/load of all three classes. Documentation for each method available i

[2021-01-11 21:28] laceysanderson opened #91 "chado_insert_cvterm() is slow"
This issue is to remind us to speed up [chado_insert_cvterm()](https://github.com/tripal/t4d8/blob/9.x-4.x/tripal_chado/src/api/tripal_chado.cv.api.inc#L453). This function is used when creating Tripal Terms and chado cvterms and causes noticeable performance issues. Since Tripal Terms will be created during Installation of every Tripal site, this should be considered a high priority.

[2021-01-11 23:07] laceysanderson commented on #63
Fixed in PR #92 Thanks @risharde!

[2021-01-11 23:07] #63 closed, assigned to nobody

[2021-01-12 16:29] reynoldtan commented on #88
Icon set design no. 1
![icons](https://user-images.githubusercontent.com/15472253/104342615-a2664f00-54c0-11eb-9f08-83f92b2bf36f.jpg)

![icons-h](https://user-images.githubusercontent.com/15472253/104342664-b14d0180-54c0-11eb-8409-a35c5d191463.jpg)

![icons-v](https://user-images.githubusercontent.com/15472253/104342706-b9a53c80-54c0-11eb-9775-b3a260e73544.jpg)

[2021-01-12 17:37] laceysanderson commented on #88
Nice! Maybe a little more detail then the other Drupal icons (especially page structure and data import feel a bit cluttered) but overall I like them. @spficklin what do you think?

[2021-01-12 17:40] spficklin commented on #88
Yes, I agree. I like them too!

[2021-01-12 19:25] risharde commented on #91
Initial issue was the unit tests were not working - after a lot of debugging - the issue turned out to be that one must perform the following command on the docker container before running these tests.

`docker exec tripaldocker drush trp-prep-tests`

After removing the "incomplete" lines for the 2 unit tests and testing with the testchado schema existing, the tests completed successfully.

Contin

[2021-01-12 22:31] laceysanderson commented on #81
Completed by above PR 🎉

[2021-01-12 22:31] #81 closed, assigned to nobody

[2021-01-13 04:10] laceysanderson opened #94 "Group 9 - Documentation"
The plan for Tripal 4 documentation is to provide a single resource for Tripal Users and Developers. Rather then documenting Tripal with the assumption you know Drupal, we are going to teach both Drupal/Tripal and provide links to core Drupal documentation for more information. This should make the Tripal 4 documentation an easier resource for PIs to point new developers at.

Idealistic Overview:

[2021-01-13 15:39] laceysanderson commented on #94
Documentation upgrades according to this plan should take place in branch 94-docs. The most recent docs generated from this branch can be viewed at https://tripal4.readthedocs.io/en/94-docs/ and will include all pushed changes to this branch within a couple of minutes.

[2021-01-13 17:58] spficklin opened #95 "Tv3 Updates Needed in Tv4"
I'm creating this issue as a place where we can add items that were added in Tv3 after we separated this t4d8 repository.   As we review the pull request history for the Tv3 repository we can return here and add check boxes below link to the corresponding pull request.

- [ ]  The TripalField class got a new theme function for theming of the instance settings form,   (PR coming soon).
- [ ]  An up

[2021-01-13 18:50] laceysanderson commented on #94
Core outline has been implemented in #96.

The Tripal Vocabularies/IDSpaces/Terms functionality is now done. As such we can make the documentation for how to use these through the UI.

Add a new page: "Setting up Tripal Vocabularies" to the "Building your Site" section of the new docs. This should include the following process:

1. How to get to Tripal > Vocabularies (using the new Tripal menu bar

[2021-01-13 19:17] laceysanderson commented on #28
This was the state of this work on Sept 24 as of PR #65

Chado API is now updated and Tripal Vocabularies are fully tied to chado. Ready to move forward on this again 🎉

[2021-01-14 21:35] laceysanderson opened #100 "Deprecation Notices for Drupal 9.1.x"
The following deprecation notices are obtained when running the unit tests of Drupal 9.1.x. There were no deprecation notices for 9.0.x.

[code]

**Note: we have to be careful with upgrading our phpunit.xml becuase we are still using earlier version of phpunit with drupal 8.9.x and 9.0.x**

[2021-01-15 00:41] laceysanderson commented on #100
The following are completed in f88d88d8

[code]

[2021-01-15 05:08] laceysanderson commented on #100
The following are completed in 3a69153b.

[code]

[2021-01-15 05:27] laceysanderson commented on #100
The following are completed in 20769c0e

[code]

[2021-01-15 05:28] laceysanderson commented on #100
The following were addressed in d23590ae and 32ef4f96

[code]

[2021-01-15 05:40] laceysanderson commented on #100
See #102 for these fixes.

[2021-01-15 06:20] laceysanderson commented on #100
Fixed and merged.

[2021-01-15 06:20] #100 closed, assigned to nobody

[2021-01-15 17:28] #88 closed, assigned to nobody

[2021-01-15 17:41] laceysanderson opened #103 "Have TripalDocker automatically build images and push to docker hub/github"
It would be great to have images built automatically! Specifically,
 - on merge of PR to 9.x-4.x we want to update drupal8.9.x-dev, drupal9.0.x-dev, drupal9.1.x-dev and latest
 - on release we want to create release-tagged docker images for all the most recent release of drupal 8.9.x, 9.0.x and 9.1.x

The commands to currently create these images are:
[code]

Docker has a gihub action which should

[2021-01-15 20:26] laceysanderson commented on #45
@spficklin I have very little idea how this is working and thus don't know where to begin.

I know Shawna set up a registration content type on tripal.info which [Bradford has added fields to](https://github.com/tripal/t4d8/issues/45#issuecomment-609779254) but those fields are not yet available on the registration forms in Tripal 4 (or I assume Tripal 3) & I'm unsure how to have the new tripal.in

[2021-01-15 20:32] laceysanderson commented on #91
Some improvements to performance were done as part of #98 however, adding Tripal Terms is still quite slow and I suspect this function is the culprit.

Here are some timings on my system for creating a single Tripal Term through the UI. This is noticeably slower then creating vocab/idspaces and updating terms. Updating takes ~1/2 the time on my system according to Firefox developer tools.
<img wid

[2021-01-15 20:42] risharde commented on #91
Wow 15 seconds seems long, I will try to do some further tests but on my
dev it was shorter

On Fri, Jan 15, 2021, 4:33 PM Lacey-Anne Sanderson <notifications@github.com>
wrote:

[2021-01-15 21:48] laceysanderson commented on #83
Started in branch `83-tv4-testcoverage`: https://github.com/tripal/t4d8/compare/9.x-4.x...83-tv4-testcoverage

[2021-01-17 17:15] laceysanderson commented on #83
Almost complete but not quite working. See current status here: https://github.com/tripal/t4d8/runs/1717318661?check_suite_focus=true

[2021-01-27 23:13] laceysanderson commented on #89
Here is the current work on this issue from the Jan 2021 Codefest: https://github.com/tripal/t4d8/compare/9.x-4.x...par12005:89-chadoSetupPrepare

@par12005 do you think you will have time to complete this soon?

[2021-01-27 23:38] laceysanderson commented on #27
Just checking in on the progress on this. @Ferrisx4 are all your changes in https://github.com/tripal/t4d8/compare/27-EntitiesAPI? @ksbuble were you able to make any progress on this issue? Also, are either of you available to continue this work?

[2021-01-28 13:08] Ferrisx4 commented on #27
@laceysanderson Hi, yes all my cofest work was in this section. I have been continuing my work, `tripal_load_vocab_entity()` and `tripal_load_term_entity()` are basically done. Still working on them one by one.

[2021-01-29 15:09] risharde opened #105 "Small but critical fix for Tripal Administrative pages"
Tripal administrative pages such as Data Storage does not populate sub menu links and instead displays "You do not have any administrative items" text. This means that users cannot get to the appropriate Tripal admin tools.

A fix has already been applied and will be published as a PR request.

[2021-02-02 18:10] par12005 commented on #89
@laceysanderson Sorry for the slow response!

I've pushed my changes for this issue and included some notes about what's still missing from the default content types and why in my PR.

[2021-02-02 20:27] laceysanderson commented on #89
Great! Thanks @par12005! I'll look at it as soon as I can!

[2021-02-07 02:39] risharde commented on #89
Thanks @par12005 , @laceysanderson I tried testing this code but it suffers from the same issue I sent you via Slack so it doesn't seem the error is related to @par12005 code but something else happening related to core branch (9.x-4.x) or my specific environment at the moment (though I have removed the docker and tried redoing everything).

`Drupal\Core\Database\DatabaseExceptionWrapper: SQLSTATE

[2021-02-08 18:22] laceysanderson commented on #105
Fixed via merged PR.

[2021-02-08 18:22] #105 closed, assigned to nobody

[2021-02-08 20:39] risharde commented on #89
@laceysanderson second test with the docker environment reaches max execution time (30 seconds) when trying to execute via the  jobs UI page. This is just a note during testing and reasonable in case anyone ever tries doing this from UI. I'll be reattempting by running the command line generated for the job once available.

`2021-02-08 20:36:31: Job ID 1. 2021-02-08 20:36:31: Calling: tripal_chado

[2021-03-16 20:01] risharde opened #109 "We need a working OBO importer for Tripal 4"
During the process of upgrading the GFF3 importer, it was noticed that the Sequence Ontology is needed during import hence the birth of this issue and corresponding branch to be created.

[2021-04-26 17:31] spficklin opened #111 "Fixes for the Tripal Job / Logger Issue"
Suggested Fix
1.  Create a Tripal job Plugin
     - TripalJob abstract class
        - private logger object
        - protected functions to use the logger object.
        - Note: need to change the TripalLogger::log2job accept a job id and remove the job as a member variable.
     - TripalJobManager class:    Drupal 8 plugin manager creates an instance of the TripalJob.   This allows site-specif

[2021-05-14 16:36] spficklin opened #112 "Attribution for Extension Modules"
Add an API for extension modules to make it easy to add attribution (e.g. who created the module, link to documentation or pub) and consistent between modules.

[2021-05-17 16:59] risharde opened #113 "Postgresql out of memory error when dropping chado database"
While testing on this specific environment, I encountered this unexpected error which does not occur with the Docker version that was created by @laceysanderson

Environmental details:
Virtualization: Oracle Virtualbox
OS: CENTOS 7 (64-bit)
MEM ALLOCATION: 2 GB
Drupal: 9.1.8
Tripal: 4.x
Branch: 4-tv4-tripal_importer
Postgresql: 10
PHP: 7.2

Error output:
`
Tripal Job Launcher
Running as user 'admi

[2021-06-17 15:46] guignonv opened #114 "Import Chado schema"
I looked other issue but I didn't find anything matching this need.

I have an SQL dump of my Chado schema that I imported into my new Drupal 9 database through PostgreSQL console. However, Tripal 4 does not recognize it since it is not in its `chado_installations` table. If I go to the admin page admin/tripal/storage/chado/install (install Chado), my schema is still not recognized for an upgrade.

[2021-06-17 15:48] guignonv commented on #114
By the way, I can't assign myself to this issue.

[2021-06-23 17:16] guignonv commented on #114
![image](https://user-images.githubusercontent.com/7290244/123140174-46342d80-d457-11eb-9062-c99c3cc7d9d1.png)
I've started to work on the interface. I've added another option: clone an existing database.

[2021-07-13 15:14] guignonv opened #117 "Propose an online alternative to drush for job execution"
### Problem/Motivation
Currently, when a long process needs to be run, T4 displays a message telling the user to launch the job using drush on a shell (just like previous versions of Tripal).

There are use cases when all should be run from the web. For instance, I have germplasm collection curators that need to upload new data. Their data is updated on a clone of the "live" Chado schema. The clon

[2021-07-13 15:16] guignonv commented on #117
Several additional notes:

- $cmd must be checked for security reasons
- command line PHP should be configured to run with no limit (which is its default behavior)

[2021-08-12 16:17] guignonv commented on #114
I've done a beta 4 version in PR #119 . Please try it and give me some feed-back. I can upgrade my version without any problem but I'm quite sure your instances may have things that could bring some issues I didn't think of.

Again, don't hesitate to give it a try: with this patch, you can clone the schema you want to upgrade first and the try to upgrade that clone. In case of failure, your databa

[2021-08-18 14:56] guignonv commented on #50
I think this API should be part of [Drupal\tripal_chado\api\ChadoSchema](https://github.com/tripal/t4d8/blob/9.x-4.x/tripal_chado/src/api/ChadoSchema.php) class. Any function in tripal_chado.api.inc should just call a ChadoSchema method, either static or non-static.

ChadoSchema should provide static functions for almost everything we need to work with a database and it would also provide non-stat

[2021-08-18 17:09] guignonv opened #120 "Handling multiple Chado schema"
This issue is there to address different points than the one in #52.

Here, we should discuss technical issues related to handling several Chado instances. Previous Tripal version were working on a single instance. While the Multi-Chado module allowed to trick Tripal and change the "active" Chado instance, it was not able to work simultaneously with several instances.

Tripal 4 brings the opportun

[2021-08-18 17:09] guignonv commented on #52
So far, in current code (at the time writing this), multiple chado schema are supported by the Chado API which is a good thing. I've added in PR #119 the PostgreSQL functions to clone schemas.

I think this discussion started on the idea of using a different chado schema for **testing** while in the end, the discussion goes a bit wider to just using different chado schema for different purpose.
I'

[2021-08-23 20:33] laceysanderson opened #122 "Group 2: Tripal Chado MISCELLANEOUS API functions"
This issue refers to upgrade of [tripal_chado.api.inc](https://github.com/tripal/tripal/blob/7.x-3.x/tripal_chado/api/tripal_chado.api.inc) **To take on upgrade of one of these functions just comment below with the function you would like to take on.**

- [ ] chado_publish_records() *~Hold off until entities are integrated with Chado*
- [ ] chado_get_tokens() *~Hold off until entities are integrat

[2021-08-23 23:03] laceysanderson commented on #50
First off, thanks for the lengthy design plan @guignonv and the offer of implementation! You will have noticed I changed the issue description/title since the original issue was not meant for schema discussion and I wanted to re-assign it to preserve your discussion.

# Overall Comments, Thoughts + Suggestions

- The ChadoSchema class in t4d8 was meant to be a straight port of the original one in

[2021-08-26 14:51] guignonv commented on #50
Thanks @laceysanderson  for your useful feedback. I will see what I can do in the direction of a  Drupal Service while keeping what's needed for backward compatibility. I've already written some code to manage concurrent access to Chado schemas. I'm currently struggling with Drupal unit tests system. I'll have to do (continue) some more readings/learning and make a new design proposal compatible w

[2021-08-30 17:13] laceysanderson opened #124 "Improve Hands-on Cvterm docs"
We need to improve [this page](https://tripal4.readthedocs.io/en/latest/dev_guide/lessons/create_cvterms.html) based on the in-code documentation in src/Services/TripalVocabManager.php and src/Services/TripalTermManager.php. Specifically, it may be helpful to include the mapping to Chado for experienced users.

[2021-08-30 17:15] laceysanderson opened #125 "Automatic machine name in TripalEntityType::create"
Currently, you have to define the machine name of the content type (i.e. bio_data_#) but this is error-prone and should be done automatically to ensure it matches expectations.

[2021-08-30 17:16] laceysanderson opened #126 "Default Term Definition for TripalTermManager"
We should provide default help text if a term doesn't have a definition... or maybe a default definition? Not sure how to handle this one well.

[2021-09-01 15:20] laceysanderson opened #127 "Tripal Vocab/Term needs better schema name support"
This issue was found when working to prepare chado. It turns out that Chado prepare, Tripal Vocab, Tripal Vocab Space, Tripal Term and likely entities do not support schema not named `chado`.

For vocabulary you can see this stems all the way back to the TripalTermStorage class:
[code]
Because there is no way to pass in the schema name, none of the upstream classes do...

[2021-09-10 11:32] guignonv commented on #50
After a lot of readings, thoughts and code trials, here are some answers.

###  ChadoSchema Service design

I wanted to wrap that because we may (want to) support schemas on different databases. Drupal::database() will return the Drupal connection while a different connection may be needed if working on a different database specified in Drupal setting.php file. But it might not be the best approac

[2021-09-13 16:07] 4ctrl-alt-del opened #129 "Tripal Fields"
This is a super thread issue that I will use to gather all information and feedback concerning my efforts to upgrade Tripal terms and fields to Drupal 8/9. Because of the extreme difference between Drupal 7 and 8 and Drupal's decision to move all storage related tasks to the entity level, this is basically a complete rework of Tripal fields.

[2021-09-13 16:10] 4ctrl-alt-del commented on #129
Created root branch for all work related to this upgrade named ~~129-Tripal4VTF~~ 129-TripalFields.

[2021-09-13 17:42] 4ctrl-alt-del commented on #28
Moved to #129. Created new issue to track progress for Tripal Fields because I am starting fresh from the beginning.

[2021-09-13 17:46] 4ctrl-alt-del commented on #129
The general plan for progress is the following:

1. Add tripal vocabulary plugin
2. Add tripal term typed data and definitions
3. Add tripal storage plugin
4. Add tripal schema plugin
3. Add tripal field that works with tripal vocabulary terms, storage, and schema.
4. Add tripal entity that works with tripal vocabulary terms, sotrage, and schema.
5. Add tripal entity storage that works with tripal

[2021-09-27 17:37] spficklin opened #130 "Loaders in Tv3 have updates"
The OBO and GFF3 loaders have been updated in Tripal v3. I know at some point we need to go back through all of our Tv3 updates and see if they need to be applied to Tv4 but these are critical so I thought I'd point them out.

[2021-10-22 18:46] laceysanderson opened #134 "Tripal BioDB Integration"
Valentin submitted a new Database API for Tripal which extends Drupal's native Database API with functionality specifically needed for Biological PostgreSQL databases including Tripal. The original effort for integration was in tripal/t4d8#131.

The original PR was closed and a new branch was created in this repository: `tripal_biodb` to facilitate closer collaboration on full integration of this

[2021-10-22 18:50] laceysanderson commented on #134
The current next steps are to get tests working again on TripalDocker. I made an initial commit simply enabling the Tripal BioDB in the docker... however, in my local version, this is causing a syntax error.

@guignonv can you double-check that the most recent version of your API is in the t4d8::tripal_biodb branch? Note: if there is a difference feel free to make a PR to t4d8::tripal_biodb and im

[2021-10-25 17:03] risharde opened #135 "Chado Query API assumes once 'primary key' exists, that it contains values within the array"
This came up during gff3 unit tests in the version 2 branch. Some of the custom tables don't have primary keys but retrieving the schema for these tables using the underlying function getTableSchema adds empty 'primary key' index with an empty array. This causes the chado_insert_record function to throw errors when trying to add data to these tables when the importers such as GFF3 is run.

[2021-10-25 17:26] risharde commented on #135
Issue resolved in core via commit: https://github.com/tripal/t4d8/commit/1ff489f6acf1436e7e213058d6d9b5948e92cdff
Manually reviewed by Lacey due to my push directly to core by mistake. This should be in a separate branch (which I will do in the future).

[2021-10-25 17:26] #135 closed, assigned to nobody

[2021-10-31 23:38] risharde commented on #130
A little late on this one because I missed the email notification - agreed and definitely good to revise them. I'm assuming this notification serves to give an idea of the most recent update being done after we converted to T4 :)

[2021-10-31 23:40] risharde opened #139 "Tripal Custom Tables and handling multiple schema"
I'm going to attempt to make Tripal Custom Tables compatible with different schema names. Hopefully this isn't going to be another deep rabbit hole - basically if I can get the tripal_custom_tables to store the schema name with the table name, this would make it more compatible with different schema names. Default would be public.<table name>

[2021-11-01 00:18] risharde commented on #139
Initial code works on the chadoInstaller and successfully adds the schema name to the table name in the tripal_custom_table. Tested on default 'chado'. Next test will be to create another schema (while also keeping the default chado schema) to ensure there is no clashes occuring with the code.

[2021-11-01 00:21] risharde commented on #139
![image](https://user-images.githubusercontent.com/33866403/139606222-2dc53fde-23e5-4795-afc7-5c943b398c54.png)
Seems successful - as you can see - the table names now had the prepended schema name which will help to differentiate where the table actually exists.

[2021-11-01 00:22] risharde commented on #139
I'm going to run some tests on the Admin Tripal Custom Tables UI to ensure it still remains compatible with this new implementation

[2021-11-01 00:48] risharde commented on #139
I have discovered 2 issues I am working on:
1. While the tables are correctly listed in the UI - if I try to edit a table schema, it complains that there is not table attribute within the schema (these seems unrelated to the new code)
2. The chado form for dropping / removing a schema does not cater for the removal of custom table records in the public.tripal_custom_table (this was a lack of forsi

[2021-11-01 00:54] risharde commented on #139
Issue 2 has been resolved (dropping + removing specific schema name custom tables from the tripal_custom_tables public table)

[2021-11-01 00:58] risharde commented on #139
Part of issue 1 has been resolved - now the table attribute is added to the chadoInstaller. Working on the UI edit form to make it compatible with editing (it seems the recreate checkbox is not validating correctly)

[2021-11-01 01:45] risharde commented on #139
Issue 1 has been resolved! Edit table schema now works and the checkbox for dropping and recreating works now.

[2021-11-01 01:47] risharde commented on #139
Confirming that the delete tripal custom table form works!

[2021-11-01 03:46] risharde commented on #139
New textfield element added to specify the target schema name and tested (works like a charm!)

[2021-11-01 03:47] risharde commented on #139
Reminder: We need to update schema lookup function to cater for new naming convention within the tripal_custom_table now that we are using the schemaname.table_name format

[2021-11-02 02:21] risharde commented on #139
Doing a search using VSCODE for custom tables, I came across the getTables($include_custom = FALSE) function within the ChadoSchema class. It seems this code was not properly retrieving table names (TODO inner if function). This has been resolved to respect the $include_custom boolean variable. Also altered this code to extract only the table_name and not the prepended chado schema name to remain

[2021-11-02 15:07] risharde commented on #139
Ran the OBO loader for the Sequence Ontology overnight and today it looks like cvterms have been created. No errors displayed on the console during imports. So this initially looks like the modifications do not break the default OBO importer process.

[2021-11-02 15:10] risharde commented on #139
OBO loader took 78.60 minutes. Even after altering the VM to utilize 4 threads. (maybe at some point - some exploring of a WSU server for comparison) on the T4 branch. Again, this is unrelated to this particular task at hand.

[2021-11-02 15:59] risharde commented on #139
GFF3 loader errored out during chado_select_record on the tripal_gff_temp table. It seems the schema for this table is not being returned from the tripal_custom_tables column. A new commit has been created to resolve this and currently re-running the import of Citrus_sinensis-orange1.1g015632m.g.gff3

[2021-11-02 16:37] risharde commented on #139
GFF3 loader ran successfully this time. Going to test the Fasta Importer as per T3 generalized documentation (even though this is T4, this documentation is the same procedure)

[2021-11-02 17:16] guignonv commented on #134
I pushed some fixes on parseTableDdlToDrupal but I don't think it is related to the issue you're facing. I'll try to work on this on Friday.

[2021-11-02 17:16] risharde commented on #139
Experienced an issue where the Fasta file uploaded was erroring out (wrong file size). It was due to the /var/www/html/drupal/sites/default/files/tripal/users/1/temp <-- id 1 since I am the only user on this test environment. To solve, I deleted the files within this temp folder and the .fasta file in the parent folder.

[2021-11-02 17:16] risharde commented on #139
The Fasta import was successful and it found 1 sequence as per documentation

[2021-11-02 17:20] guignonv commented on #114
This issue is now obsolete. The Chado management interface is now part of the tripal_biodb branch (#134).

[2021-11-02 17:20] #114 closed, assigned to guignonv

[2021-11-02 17:21] guignonv commented on #120
This has been solved in tripal_biodb branch (#134) on the Chado management admin interface. A default schema can be selected there.
Closing issue.

[2021-11-02 17:21] #120 closed, assigned to nobody

[2021-11-02 17:25] risharde opened #141 "Encountered perhaps an anomaly during fasta file upload"
Referenced here: https://github.com/tripal/t4d8/issues/139#issuecomment-957960963

The temp folder with the file chunks were not being deleted. This somehow affected when trying to reupload the file. The problem seems to resolve by deleted the attempted reconstituted file and / or emptying the temp folder.

[2021-11-02 17:26] risharde commented on #141
Permissions and perhaps a further inspection of this code might be required.

[2021-11-02 17:27] risharde commented on #141
P.S Cache clear did not work during trying to resolve this issue (it was unrelated to the problem)

[2021-11-02 22:05] risharde opened #142 "Discussion question: Should uninstalling tripal_chado module drop chado?"
As much as this might be an obvious answer, I just realized that this might not be good for live sites (safety). Admins should in theory be aware of this (like either we give them an are you sure option or just leave chado be!) (I vaguely recalled that in Tripal 3, we tried not to delete chado data) but testing on Tripal 4, the uninstall works ie.deletes the chado tables! What do you guys think ab

[2021-11-02 22:35] laceysanderson commented on #142
Oh! I don't think that is intended functionality... uninstalling Tripal Chado should leave Chado alone IMO. We can explore whether we think it should remove custom tables with an obvious warning... and it should remove any management tripal tables added to the Drupal schema... but not Chado.

[2021-11-03 19:53] spficklin opened #143 "Multi-chado Design Documentation"
@laceysanderson and @guignon We need some design documentation for how the multi-Chado is going to work in Tripal 4.  @risharde is working on custom tables and functional testing which needs to know where tables are located and we need to know how to alter API functions to support multi-chado.

This issue is a note that it needs to be added

[2021-11-03 20:42] risharde commented on #142
Thank you @laceysanderson for the feedback! I will try to remember to look into this further since this might be an easy fix hopefully soon but I'm refocusing my effort on better PRs for importer code for you :)

[2021-11-03 20:46] risharde commented on #139
@laceysanderson Discussing current implementation with @spficklin, hopefully I am wording it correctly, he said he prefers my new implementation to have the schema name as a seperate field. Currently (in my implementation) the tripal_custom_tables column is now appending the schema_name to the table_name example: chado.tripal_gff_temp . He wanted you to confirm based on your ideas of multi chado c

[2021-11-03 20:51] spficklin commented on #142
I agree with @laceysanderson. In Tripal v3 nothing in Chado is ever removed on an uninstall of Chado, including custom tables. I think we should keep it that way.   Drupal would automatically remove any of our management Tripal tables

[2021-11-03 23:24] laceysanderson commented on #139
I agree that the table_name should be the literal table name in the database :-)

Regarding the schema_name, I agree with not appending it to the table name. I do wonder if we want it as a single column though as that will mean we would need to re-create the custom table for each schema we want it to appear in... which seems error-prone and not great if updates are needed. You would also end up wi

[2021-11-03 23:26] laceysanderson commented on #143
Yes, this is on my radar :-) In the meantime, you can see the current available documentation in the original PR: https://github.com/tripal/t4d8/pull/131

[2021-11-08 10:30] guignonv commented on #134
It seems I'm using a more recent version of PHP (7.4) on my server than the one used in the docker (7.3). In BioDb module (and others...) I used a lot of new PHP syntactic sugar not available in PHP 7.3. I'll try fix that to be 7.3 compatible...

[2021-11-08 13:39] guignonv commented on #134
Commit 02b6b0539401195085f622765922217c061ff112 should pass the tests now. At least, they do on the docker run on my server.

[2021-11-08 16:29] laceysanderson commented on #134
Looks like a problem with Tripal Docker, not the tests. It can't seem to find the Tripal BioDB module which tells me it is not running on the local version of Tripal in this branch... 🤔 I'm looking into it

[2021-11-10 14:08] guignonv commented on #142
Agreed as well. Uninstalling tripal_chado module should not touch anything in chado schema (but could in Drupal "public" schema).

[2021-11-10 14:48] guignonv commented on #139
Disclaimer: I didn't play yet with the custom table UI on t4d8/9 so read my point of view with that in mind. I may miss some points.

In my opinion, custom tables are part of a "single" Chado schema. They are defined to solve something in a given Chado data context (i.e my custom tables may not be useful to your Chado data). Of course, since you often deal with the same type of data in a same data

[2021-11-10 22:57] laceysanderson commented on #134
Ok, Tripal Docker is now running the local version of Tripal in the branch, we're able to install tripal_biodb in the docker build and the drush commands have been updated to use your new Installer + Remover Tasks! 🎉

However, we're still running into a weird issue shown here: https://github.com/tripal/t4d8/runs/4171830088?check_suite_focus=true#step:3:3218

I'm out of time for the week :-( Do you

[2021-11-15 22:38] laceysanderson commented on #134
Looks like it was a variable-type issue. I had passed in a float and your installer expected a string. I added a couple more checks to ensure a string value :-)

[2021-11-15 22:56] laceysanderson commented on #134
Ok, the tests are passing on TripalDocker now 🎉
See [this set of Github actions](https://github.com/tripal/t4d8/runs/4217952684?check_suite_focus=true) which show them all passing on the build tripaldocker for Drupal 9.0.x-dev, 9.1.x-dev and 9.2.x-dev

[2021-11-22 17:57] laceysanderson opened #157 "Automated Tests Failing: Apache OR Guzzle"
I'm noticing that automated tests are failing often for two reasons which do not indicate a problem with your PR. Specifically, (1) apache fails to start in time, (2) GuzzleHttp exception says curl failed to connect (see sections below for more details).

In both these cases, I have found waiting at least 20-30 minutes and then re-running the workflow will fix the issue although sometimes you can

[2021-12-14 15:24] guignonv commented on #143
Passing by more than a month later but the doc is there:
https://tripal4.readthedocs.io/en/latest/design/pending/biodb.html
Should we close this issue?

[2021-12-14 16:15] guignonv opened #170 "Multiple chado instances and ChadoConnection behavior"
With BioDb layer, it is possible to work with multiple Chado instances at the same time (in a same SQL query for instance).
There are 2 ways to specify other Chado instances:
1) by code, using for instance `$connection->addExtraSchema('chado2');`
2) through settings.php (site config file) by specifying extra schema in the 'prefix' key of the database connection options array: `'prefix' => ['2' =>

[2022-01-18 21:51] risharde opened #171 "tripal_chado_prepare_chado fails if items already prepared"
Hi @laceysanderson , I thought I would drop this in here because it's not a bug per say but rather an issue I'm coming across during testing the prepare part after installing chado. Basically the entire prepare fails once this stuff exists and I was wondering if we could do anything about this (since prepare is technically to be run on a new instance of chado - this would break functionality for s

[2022-02-16 13:24] #171 closed, assigned to nobody

[2022-02-16 15:10] laceysanderson commented on #157
This has been fixed.

[2022-02-16 15:10] #157 closed, assigned to nobody

[2022-02-16 15:15] laceysanderson commented on #143
Yes, I believe we close this issue :-)

[2022-02-16 15:15] #143 closed, assigned to spficklin, risharde

[2022-02-16 15:40] laceysanderson commented on #142
I just tested this on the most recent version and uninstalling tripal_chado doesn't remove any Chado tables.

[2022-02-16 15:40] #142 closed, assigned to nobody

[2022-02-16 15:48] laceysanderson commented on #127
Closing as these services have been removed.

[2022-02-16 15:48] #127 closed, assigned to nobody

[2022-02-16 16:00] laceysanderson commented on #124
This page now needs to completely change as the new vocabulary API becomes mature. @Ferrisx4 I'm tagging you to put this on your radar.

[2022-02-16 16:05] laceysanderson commented on #117
@guignonv now that you have the BioDB layer contributed I seem to remember there being functionality in there for long-running processes.

Can you update this issue by commenting on the overlap with this issue and starting the discussion on how your functionality and the current Tripal Jobs system could interact (or your plan if they do not)? Thanks! :-)

[2022-02-16 16:09] laceysanderson commented on #103
Complete!

[2022-02-16 16:09] #103 closed, assigned to nobody

[2022-02-16 16:13] laceysanderson commented on #91
A lot has changed since this issue was created. I'm closing it since nothing can currently be done and the problem may not even exist after the new API is done. Also this could have been environment dependant.

[2022-02-16 16:13] #91 closed, assigned to nobody

[2022-02-16 16:14] laceysanderson commented on #89
Most of this is complete. Closing this issue as it's not very helpful for finishing the remaining items.

[2022-02-16 16:14] #89 closed, assigned to nobody

[2022-02-16 16:15] laceysanderson commented on #83
This is complete and can be checked here: https://codeclimate.com/github/tripal/t4d8
However, our current test coverage is VERY low...

[2022-02-16 16:15] #83 closed, assigned to nobody

[2022-02-16 16:22] #39 closed, assigned to nobody

[2022-02-16 22:42] laceysanderson commented on #134
@risharde The chado prepare functionality which used to be at `tripal_chado/src/Services/ChadoPrepare.php` has been moved to `tripal_chado/src/Task/ChadoPreparer.php` to use the new task API in branch `tripal-biodb`. You're going to need to move your importer-based code into this new file so I suggest pulling the `tripal-biodb` branch into PR tripal/t4d8#167 -especially since you'll be using Tripa

[2022-02-16 22:50] laceysanderson commented on #134
@guignonv As part of updating the prepare functionality in your task to match the new behaviour, I've noticed you do not use the Tripal Logger. Is there a reason behind that?

Using the \Psr\Log\LoggerInterface logging channel you did causes all the output to be added to the Drupal > Admin > Reports > Recent Log Messages listing with no association to the task which not only fills up the log but i

[2022-02-22 20:19] Ferrisx4 opened #178 "Interface is a reserved word"
https://github.com/tripal/t4d8/blob/8d8fd93aee418c320d626c5efc273625718c2369/tripal/src/TripalVocabTerms/TripalVocabularyBase.php#L6

The preceding line violates PHP's rule about using reserved words, in this case Interface, in namespaces.
We will have to change the directory name and any references to files in that directory. Suggested by the Stackoverflow answer below, we can simply pluralize In

[2022-02-22 21:41] laceysanderson commented on #178
Ooops! I like the pluralized option although we will have to do it for all the directories in TripalVocabTerms for consistency. I say go for it @Ferrisx4 and submit a PR -it's a small enough change I don't think it needs a big discussion. :-)

[2022-02-23 13:39] Ferrisx4 commented on #178
There is at least one more instance of references to the old naming schema, reopening.

[2022-02-23 14:37] #178 closed, assigned to Ferrisx4

[2022-02-23 21:26] laceysanderson commented on #134
We have a PR merging in the first version of this functionality 🎉
PR tripal/t4d8#182

We decided to move this functionality into 9.x-4.x as it is stable, we are committed to it and other branches/functionality require this API to move forward.

Here are the current items left to be done after the above-mentioned PR is merged:
- tripal/t4d8#190
- tripal/tripal#1340
- tripal/tripal#1341
- tripal/tri

[2022-02-24 17:35] laceysanderson opened #184 "Configure xDebug on Docker"
It would be nice to configure xdebug on our docker images.

[2022-02-24 17:35] laceysanderson commented on #184
I started work on this but ran out of time to finish... here is my current progress:

[code]

[2022-02-24 17:48] laceysanderson commented on #70
@4ctrl-alt-del has started this but was pulled away. I'm cleaning up branches so here was his original progress:

[code]

[2022-02-24 23:53] laceysanderson commented on #134
I have a fix for the 9.4.x error in [tv4-biodb-drupal9.4.x-error](https://github.com/tripal/t4d8/tree/tv4-biodb-drupal9.4.x-error). Just waiting on tests :-)

[2022-02-25 15:29] laceysanderson opened #190 "Merge tripal_biodb module into tripal module"
We want to move the new `tripal_biodb` module into the `tripal` directory. This module is a core requirement of `tripal_chado` moving forward and also generic enough to aid integration with other PostgreSQL-based schemas. As such it makes sense for the two to be merged for easier installation of Tripal and better integration with the new functionality.

[2022-02-25 15:46] laceysanderson opened #191 "Integration of Tripal BioDB task system with Tripal Jobs"
When Valentin made the new Tripal BioDB functionality, he also created a Task + Lock API based of Drupal which focuses on database integrity. The original documentation for the Task API is included below. As mentioned in #117 and #111, we have already been exploring alternatives + fixes to our current job system. As the Task system is already available it makes sense to integrate these.

## Task A

[2022-02-25 15:53] laceysanderson opened #192 "Deprecate existing Chado Query API in favour of new BioDB API"
The new BioDB API extends the Drupal Database API to handle multiple PostgreSQL schema and cross-schema querying -something which is obviously needed for Tripal for ideal Chado integration. Specifically, this allows us to use the Drupal style of querying with Chado as shown in the following example:

[code]

Which would be the equivalent of the following Chado Query:

[code]

Tripal will be moving

[2022-02-25 15:57] laceysanderson opened #193 "Deprecate existing ChadoRecord + ChadoSchema classes in favour of Tripal BioDB"
As mentioned in #192, the new Tripal BioDB API provides a more Drupalized way of cross-schema querying for databases. The ChadoRecord + ChadoSchema classes were originally developed to accomplish something similar but since Tripal BioDB is both complete and more integrated with Drupal it is a better choice. As such the old classes will become deprecated and their inner methods replaced with Tripal

[2022-02-25 16:48] spficklin commented on #193
This makes me sad :-( I really liked our ChadoRecord classes.  I don't think we need to take the time to rewrite the internals of those to use BioDB because I don't think they were broadly used.  They aren't documented and I suspect only extension modules created by core developers (mostly my group) would have used them.   @risharde is going to fix all of our loaders in core to use BioDB so it's j

[2022-02-25 16:51] spficklin commented on #192
Is there a way with BioDB to write straight SQL still?  I find there's always going to be some weird use case that we can't do with the Drupal classes and since BioDB uses that approach I'm just worried we may loose some flexibility when needed.

[2022-02-25 16:53] spficklin commented on #192
Also, replacing the innards of the old Chado API functions will be a lot of work I suspect.   Given we are limited on time perhaps we just mark them as deprecated, leave them as is and then later remove them from a future release.

[2022-02-25 17:10] laceysanderson commented on #192
Yes you can still write straight SQL using the BioDB API so no lost functionality there! These code samples from @guignonv show that:

## Static query example on feature table in default Chado schema.

[code]

See also [Drupal static queries](https://www.drupal.org/docs/drupal-apis/database-api/static-queries) and [result sets](https://www.drupal.org/docs/8/api/database-api/result-sets).

## Cross

[2022-02-25 17:11] laceysanderson commented on #192
Mmmm.... this is likely true. I thought this endeavour might be a good way for me to learn the ins and outs of the new API but it may end up not being worth it... I'll make sure to dial my idealism back a bit here ;-p

[2022-02-25 17:12] laceysanderson commented on #193
Ok 👍 I agree it's likely not worth all the work -my idealism was getting away with me again 🙈

[2022-02-25 17:14] spficklin commented on #192
One other benefit for leaving them is there's no accidental, inadvertent changing of behavior in them from the rewrite.

[2022-03-01 01:13] risharde commented on #139
i think we can close this in favour of biodb implementation

[2022-03-01 01:13] #139 closed, assigned to nobody

[2022-03-01 03:27] risharde opened #196 "Upgrading Importer use of old Chado Prepare to the new Task system"
Hi @laceysanderson, I wanted to try a test recompile of your importerReviewed branch and my additional changes. I began by creating a test branch from 9.x-4.x and merged the importerReviewed branch. There was a specific conflict regarding the preparer code in tripal_chado/src/Task/ChadoPreparer.php of which I allowed both changes to get the function prepare() back in.

During the test to prepare w

[2022-03-01 03:31] risharde commented on #196
Okay I just saw there's a performTask() function so I'm going to 'stupidly' try to just add the prepare function in there until you guys clarify the best way to tackle this one

[2022-03-01 03:53] risharde commented on #196
Alright so I renamed the branch after adding the prepare function since this code would be needed to make the tripal importers work and should thus be merged into reviewedBranch as well. https://github.com/tripal/t4d8/tree/tv4g4-4-tripal_importer_make_preparer_compatible

[2022-03-01 14:49] Ferrisx4 commented on #129
Closing the 129-TripalFields-vocabRabbitHole branch in favor of smaller, more manageable branches. Patch included here for all work done, saved with txt extension so Github would allow an upload.

[129-TripalFields-vocabRabbitHole.patch.txt](https://github.com/tripal/t4d8/files/8162391/129-TripalFields-vocabRabbitHole.patch.txt)

[2022-03-01 15:24] laceysanderson commented on #196
Hi @risharde,

I warned you about this change. The new prepare still does the same thing it is just wrapped within the new Tripal BioDB Task API. It is called the same way the old one was and is integrated completely. I suggest comparing the old and new class to see the difference but essentially the new `performTask()` method maps to the old `prepare()` method with the addition of progress report

[2022-03-01 17:19] risharde commented on #196
@laceysanderson I need to double check the code, need to understand what you mean by map. I can't recall seeing a prepare function in the new one so I merged it in and then called the prepare function from performTask. So I suspect that what you want me to do is remove the prepare function but the function calls within there, put that into the performTask ? Just making sure before I do. It's the w

[2022-03-01 17:51] laceysanderson commented on #196
Yes, without duplicating any of what's already in performTask() of course :-) Also, make sure that most of your code is in well-named methods and that performTask only calls those methods as done so far.

[2022-03-01 19:06] laceysanderson opened #197 "Move in-progress docs + expand"
Many of the in-progress designs have been merged into 9.x-4.x at this point and thus should be moved + expanded to more concrete design documentation.

[2022-03-01 22:26] laceysanderson commented on #129
Moving the Tripal Vocab design documentation out of pending and integrating it with the rest of the documentation.

I'm saving the following here as it needs to be re-worked a bit and integrated into the developer docs:

[code]

[2022-03-02 16:17] laceysanderson commented on #129
Moving the Vocab todo list here for better expansion, etc. @Ferrisx4

The following is completed:

- Create Vocabulary + ID Space Plugin definitions
- Create plugin managers and ensure plugins are discoverable
- Design TripalTerm class
- Design interfaces for Vocabulary and ID Space plugins
- Stub out base classes

And the remaining tasks:

- [x] Fill in base method functionality based on the stub

[2022-03-04 20:53] Ferrisx4 commented on #27
Current work in old branch 27-EntitiesAPI is here:
[27-EntitiesAPI.patch.txt](https://github.com/tripal/t4d8/files/8188693/27-EntitiesAPI.patch.txt)

Closing the branch due to inactivity and staleness.

[2022-05-02 16:41] spficklin opened #208 "Deprecated Functions"
This issue is to keep track of deprecated functions in Tripal v4.
- Please edit this post and add new ones to this list.
- Check the box when 1) the function is fully deprecated and tested that it still works (e.g. with TripalDBX) and 2) there is documentation available to help an extension module developer know how to upgrade from it

### tripal_chado/src/api/tripal_chado.query.api.inc
- [ ] chad

[2022-05-10 08:31] guignonv commented on #134
I was just using Drupal logger by default. If you think Triapl Logger is better, I've got nothing against that. :) The code can be adapted to use Tripal Logger; I see nothing that could go wrong.

[2022-05-10 08:34] guignonv commented on #134
I'm working on the issue you reported when using the query builder.
[code]
Giving the error:
[code]

[2022-05-10 10:01] guignonv commented on #134
This last issue should be fixed by commit 4329b227a9c14f30bc32fa31c0c031a19d85f764.

[2022-05-14 00:44] spficklin opened #210 "Problem with Tripal Installation"
As per this issue https://github.com/tripal/tripal/pull/1249 Lacey reported the following which needs fixing in Tripal 4

Wow that took a bit of digging but I finally found the issue:
<img width="661" alt="Screen Shot 2022-01-13 at 1 42 12 PM" src="https://user-images.githubusercontent.com/1566301/149401576-1989827c-6085-44e2-87b0-4880ba1d5c1d.png">

It turns out this function uses an old notation

[2022-05-14 02:09] #210 closed, assigned to nobody

[2022-05-19 13:43] Ferrisx4 commented on #184
I'm going to be taking a look at this, I've used xdebug in the past.
My intention is to enable it so that an IDE with xdebug capability can open the t4d8 directory on the host and have the Dockerized Drupal/Tripal instance connect to it. This would cover the 'debug' mode which includes step debugging.

In addition to that, I also see 'coverage' as a desired xdebug mode. I can try to integrate that

[2022-05-24 22:25] spficklin opened #212 "Chado Prepare"
This issue is for PRs related to making the Chado Prepare steps work in Tv4.  This is part of group 2 (issue #2 )

[2022-06-02 17:42] Ferrisx4 commented on #184
The previous issues were fixed by altering the commands that I used to build and run the Docker.

Working on the coverage aspect of this, what utilities do we want to provide from this? Currently, we can generate a coverage report for the entire codebase when PHPUnit is run as well as generate coverage reports for individual page loads. Both options generate kcachegrind files, which aren't very hu

[2022-06-07 17:42] Ferrisx4 commented on #184
I'm also going to add a function to disable xdebug in the docker. Running phpunit tests normally takes 15-20 minutes on modest hardware and over 4 hours with xdebug enabled on the same hardware.

[2022-06-07 21:09] risharde opened #215 "Uninstalling tripal_chado removes custom table information from public.tripal_custom_tables, correct?"
Hi everyone, I know that uninstalling should keep chado in tact so I just wanted to ask about this functionality with regard to the removal of data in the tripal_custom_table in public schema. @spficklin or @laceysanderson, can you guys confirm that there isn't any major issues that arise here. My only thought regarding this is if someone uninstalls tripal_chado module (for some testing purpose) a

[2022-06-08 15:58] laceysanderson commented on #184
For code coverage we were mostly focusing on Code Climate which does seem to already be working in the main branch: https://codeclimate.com/github/tripal/t4d8. So we just need to maintain that functionality. I don't think any additional functionality is needed.

[2022-06-08 16:00] laceysanderson commented on #215
I can't remember off the top of my head what Tripal 3 does but we would want to maintain the same behaviour in Tripal 4.

[2022-06-08 16:09] Ferrisx4 commented on #184
OK. In that case, I will remove the coverage option from xdebug since it is handled by Code Climate.

[2022-06-08 16:55] laceysanderson commented on #190
The above-mentioned PR moves all the query-specific BioDB code to Tripal DBX in the core Tripal module. It also adds a lot of documentation both in the classes themselves as well as in readthedocs.

All automated testing from the original BioDB is moved into core Tripal and passes on Drupal 9.1.x, 9.2.x and 9.3.x (our current target version).

It is still failing on 9.4.x due to Drupals automated

[2022-06-08 17:01] laceysanderson commented on #190
You can now find the new documentation for this API on readthedocs at [Extending Tripal > Biological Data Storage > Tripal DBX: Generic cross-database support for Drupal](https://tripal4.readthedocs.io/en/latest/dev_guide/biodata/tripaldbx.html). There is also a lot of added documentation to the classes which you can find at tripal/src/TripalDBX.

[2022-06-08 19:51] spficklin opened #217 "Table prefixes in the TripalDBXConnection (Formerly BioDB)."
This issue is regarding the problem of tests not passing because the Chado tables are given a prefix (causing problems described in issue #190).   But more generally, it's a problem with any testing that uses the ChadoConnection class (extends from TripalDBXConnection).

When the Drupal unit/functional testing is run, the default database configuration is dynamically setup to use a "test" prefix o

[2022-06-09 13:11] Ferrisx4 commented on #184
I was a little mixed up in my earlier comments. It is the profiling option that generates the kcachegrind files, not coverage. Shall we proceed with profiling?

[2022-06-10 22:26] spficklin opened #218 "Table prefixes applied twice on Updates"
When using the TripalDBX to perform an update (either via the `update()` function or the `query()` function, the table name gets prefixed twice.  Once with the prefix for the schema (which it should be) and then again with the prefix for the default (Drupal/public) schema.

For example, the following select statement runs just fine during functional testing:

[code]

The insert statement runs just

[2022-06-10 22:27] spficklin commented on #218
@guignonv you might want to check your other more generic module (I forget the name), as I suppose the problem is there too.

[2022-06-13 16:46] guignonv commented on #217
Well, it is a bit more complicated than that when it is coded. :-) Th design I choose was to "guess" when the default schema (ie. no prefixing) is Drupal's (public) or "chado". It's a bit complicated to get into the details and explain the "why" and the "how" but I believe there should be a way to fix that. I'll have a look into it in the coming weeks. I've currently a "top priority" to handle tha

[2022-06-13 22:59] risharde opened #221 "Error when trying to drop default chado schema"
I discovered this possible bug after an attempt to drop chado schema 'chado (default schema)' from the following screen:
![image](https://user-images.githubusercontent.com/33866403/173460920-6513ac3a-fda2-40d4-b918-c2f0f2cd0ff9.png)

The error causes the WSOD (white screen of death with the following message)
![image](https://user-images.githubusercontent.com/33866403/173461049-a6d0197e-00e4-483d-

[2022-06-13 23:08] risharde commented on #221
Confirming that even when manually deleting the chado schema, reinstalling the chado schema and going back to try to drop it shows the same error.

I also updated my branch with the latest 9.x-4.x and cleared cache and it shows the same error.

[2022-06-14 20:36] spficklin commented on #217
Thanks @guignonv. In the meantime, I've added a `1:` prefix to all of the queries. I've noticed this has been done elsewhere too so maybe it's okay and this isn't that urgent.  I'm just not used to that, but on second thought it may be good to keep it around because it leads people to ask "why am I doing this" and that makes them cognizant that Tripal can handle multiple databases.

[2022-06-14 21:27] spficklin commented on #217
On second thought, we shouldn't hard-code the Chado to use in our code... so this should be addressed.

[2022-06-15 21:43] spficklin opened #223 "Custom Tables Functional Testing Needed"
Support for custom tables has been added with PR #209 . However, we don't yet have the functional testing required as part of that PR. we cannot perform the function tests until issue #217 is resolved because it will cause errors.

[2022-06-19 04:58] spficklin opened #225 "Chado API functions need a ChadoConnection argument"
In the process of reviewing PR #209. I realized that our current prepare code can only prepare the default Chado. If you have a second Chado instance it will still only prepare the default Chado.  The problem is that it's using some old API functions that have been ported to Drupal 9.  These functions can only work with the default Chado installation.

We have 2 options:
1.  Add a new argument to

[2022-06-19 05:29] spficklin opened #226 "Custom Tables are not multi-chado aware"
The Forms for creating custom tables don't allow the user to specify which Chado schema to use when creating the table.  Therefore all custom tables will always go in the default Chado schema.

[2022-06-19 05:34] spficklin commented on #226
To make this work, we will also need to add a new `chado_schema` column to the `tripal_custom_tables` table so that we know where the custom tables are installed.

[2022-06-27 17:02] guignonv commented on #217
Could you provide the full piece of test code you are using? How did you instanciate "$this->chado" ?
If you can point me to the related test file of a given git branch, I could try and see what's happening. It might be related to a Drupal upgrade.
The design is to have this working:
[code]
So it should work as you expect it in the tests. If it does not, it might be either a bug or because the tes

[2022-06-27 17:25] spficklin opened #231 "GFF3Importer"
This issue is for tracking progress on the GFF3 Importer. It should be implemented on the code that is part of PR #230

[2022-06-27 17:31] spficklin commented on #231
Please use branch `tv4g4-231-GFF3Importer` for this work.  I've copied in the GFF3Importer code as it was when @risharde left off with it.

[2022-06-27 17:33] spficklin opened #232 "FASTAImporter"
This issue is for tracking progress on the FASTA Importer. It should be implemented on the code that is part of PR https://github.com/tripal/t4d8/pull/230

[2022-06-27 17:34] spficklin commented on #232
Please use branch tv4g4-232-FASTAImporter for this work. I've copied in the FASTAImporter code as it was when @risharde left off with it.

[2022-06-27 17:35] spficklin opened #233 "TaxonomyImporter"
This issue is for tracking progress on the TaxonomyImporter. It should be implemented on the code that is part of PR https://github.com/tripal/t4d8/pull/230

[2022-06-27 17:35] spficklin commented on #233
Please use branch tv4g4-233-TaxonomyImporter for this work. I've copied in the TaxonomyImporter code as it was when @risharde left off with it.

[2022-06-27 17:36] spficklin opened #234 "NewickImporter"
This issue is for tracking progress on the NewickImporter. It should be implemented on the code that is part of PR https://github.com/tripal/t4d8/pull/230

[2022-06-27 17:38] spficklin opened #235 "PubBulkImporter"
This issue is for tracking progress on the PubBulkImporter. It should be implemented on the code that is part of PR https://github.com/tripal/t4d8/pull/230

[2022-06-27 17:39] spficklin commented on #235
Please use branch `tv4g4-235-PubBulkImporter` for this work. I've copied in the PubBulkImporter code as it was when @risharde left off with it.

[2022-06-27 17:43] spficklin opened #236 "Implement ChadoStorage::insertValues()"
The `ChadoStorage::insertValues()` needs to be implmeneted.

I'm adding a separate issue for each function of the ChadoStorage class that needs implementing because they are quite involved and could probably be best reviewed with individual PRs.

[2022-06-27 17:44] spficklin opened #237 "Implement ChadoStorage::updateValues()"
The `ChadoStorage::updateValues()` needs to be implmeneted.

I'm adding a separate issue for each function of the ChadoStorage class that needs implementing because they are quite involved and could probably be best reviewed with individual PRs.

[2022-06-27 17:45] spficklin opened #238 "Implement ChadoStorage::deleteValues()"
The ChadoStorage::deleteValues() needs to be implemented.

I'm adding a separate issue for each function of the ChadoStorage class that needs implementing because they are quite involved and could probably be best reviewed with individual PRs.

[2022-06-27 17:46] spficklin opened #239 "Implement ChadoStorage::findValues()"
The `ChadoStorage::findValues()` needs to be implemented.

I'm adding a separate issue for each function of the ChadoStorage class that needs implementing because they are quite involved and could probably be best reviewed with individual PRs.

[2022-06-27 17:54] spficklin commented on #212
Here's what needs to be done to finish out the Chado Prepare Task

- [x] Add custom tables
- [x] Add materialized views
- [x] Load ontologies
- [x] Populate mview `cv_root_mview`
- [x] Setup the semantic web tables
- [x] Map chado CVs
- [x] Populate mview `db2cv_mview`
- [x] Create default content types

[2022-06-27 18:00] spficklin opened #241 "Tripal Importer final bits"
While the TripalImporter is99.9999% functional via PR #230 .  The `tripal_run_importer` API function has commented out the code for calling the `tripal_chado_map_cvterms()` function and the `tripal_tripal_cron_notification()`. Once those are implemented someone needs to return to the Importer and uncomment/update those lines.

[2022-06-28 06:16] spficklin opened #242 "Remove $chado member variable from the ChadoIdSpace"
There is a $chado member variable that gets set with the Chado connection object during the constructor of the `ChadoIdSpace` class.  However, I found out that if you want to use Ajax in forms you get an error message if there is a connection object in any class stored in the form.  Since we never know when an instance of the `ChadoIdSpace` could be housed in the form we should remove it as a memb

[2022-06-28 06:32] spficklin opened #243 "ChadoIdSpace/ChadoVocabulary Missing Values"
If the user creates a Vocabulary or IDSpace it will automatically add the records to the `tripal_vocabulary_collection` class.   This in turn will call `ChadoIdSpace::create()` and `ChadoVocabulary::create()` function respectively and those will  add the appropriate record to the `cv` and `db` tables of Chado.  However, if for some reason the `cv` or `db` records get deleted outside of Tripal ( fo

[2022-07-04 14:44] laceysanderson commented on #242
Storing the connection in the class in that manner is a Drupal convention so I'm surprised it causes errors in that manner... what is the error that you get?

[2022-07-04 15:57] laceysanderson commented on #184
The PR configuring Xdebug + documenting it's use has been merged 🎉 Thanks @Ferrisx4

[2022-07-04 15:57] #184 closed, assigned to Ferrisx4

[2022-07-04 19:01] laceysanderson opened #246 "Updates to Docker"
This is a placeholder issue for some updates I would like to make to the dockerfile. Specifically,

- [ ] Ensure PostgreSQL is shut down properly after its install
- [ ] We no longer need to check to install phpspec/prophecy-phpunit -always install it

Also address these messages:
[code]

[2022-07-04 23:10] #246 closed, assigned to laceysanderson

[2022-07-21 19:06] laceysanderson opened #250 "Upgrade docker to PHP 8.0"
[Drupal PHP Version Recomendations](https://www.drupal.org/docs/system-requirements/php-requirements)

PHP version | Supported by Drupal | First Drupal release with support | Recommended?
-- | -- | -- | --
7.3 | 9.x (note 2 below) | 8.6.4 | No
7.4 | 9.x | 8.8.3 | No
8.0 | 9.x | 9.1.0 | Yes
8.1 (note 1 below) | 9.x, 10.x | 9.3.0 |  

Since we do still test of 9.1.x and 9.2.x, PHP 8.0 is the highest

[2022-07-24 06:36] spficklin commented on #212
Just FYI... I'm currently working on getting the MViews working with the Chado prepare step.

[2022-07-25 20:34] #250 closed, assigned to nobody

[2022-07-27 22:32] spficklin opened #253 "TripalJobs Manager"
Right now the TripalJobs class in in the `tripal\src\Services` directory.  It has functions for creating of jobs both via the constructor and static functions.   This issue is to remind us that we should fix that and separate out creation/loading functionality into a `TripalJobsManager` service class.

[2022-08-10 21:22] laceysanderson opened #256 "Chado Prepare: Entity Type Creation -ensure terms attached fully"
During PR #244

We need to further validate this as I'm not sure the connection is quite right yet but didn't want to hold up the PR merge looking for this information as it's holding up fields.

[2022-08-12 01:41] laceysanderson opened #257 "Start testing on Drupal 9.5.x and 10.0.x with 9.4.x as the target version"
Drupal is a moving target now a days. This issue is to signal that we need to move our target testing again.

[2022-08-12 18:17] laceysanderson opened #258 "Automated creation of Tripal Fields for Chado"
This task will bring back the automated creation of chado fields based on the semweb term assignments.

[2022-08-12 18:19] laceysanderson opened #259 "Upgrade the Organism Field"
This task will involve upgrading the Tripal 3 [obi__organism](https://github.com/tripal/tripal/tree/7.x-3.x/tripal_chado/includes/TripalFields/obi__organism) field to Tripal 4.

NOTE: ChadoStorage may need to be modified/extended to support single-value, multi-property fields.

[2022-08-15 16:35] laceysanderson commented on #257
Work is ongoing in branch `tv40g-257-testing`.

This is where I am at for version compatibility right now:
<img width="859" alt="Screen Shot 2022-08-15 at 10 35 20 AM" src="https://user-images.githubusercontent.com/1566301/184676683-603e01a5-aa7d-4e25-88f9-6462727788ee.png">

[2022-08-15 17:55] laceysanderson opened #263 "Drupal 10 Compatibility"
We are not yet Drupal 10 compatible and this issue creates a place to work on that :-)

Please add more testing to functionality that you are working on to make these version upgrades easier!
Even simply calling your methods and only asserting the return value is EXTREMELY HELPFUL as it will ensure most of our code is checked for deprecation notices which greatly reduces the amount of work needed

[2022-08-15 18:00] spficklin commented on #263
Just curious, do we have code on a 10.x-4.x branch that we need to maintain as well?

[2022-08-15 18:06] laceysanderson commented on #263
No, everything is still on the 9.x-4.x.

I think when we move this back to the core Tripal repo we need to change our main branch naming to not include the Drupal version in response to the change in Drupal philosophy. What do you think @spficklin?

Drupal is using the naming `9.3.x-dev` for their branch names so I'm thinking our main branch should be `4.x-dev` to match that convention. In the fut

[2022-08-15 18:10] laceysanderson commented on #257
This has been merged by PR #262 and as such I am closing the issue. There is a new issue specific to Drupal 10 compatibility :-)

[2022-08-15 18:10] #257 closed, assigned to laceysanderson

[2022-08-15 18:12] spficklin commented on #263
Okay. That makes sense and seems to be what is recommended by Drupal too:  https://www.drupal.org/docs/develop/git/git-for-drupal-project-maintainers/release-naming-conventions

[2022-08-15 18:35] laceysanderson commented on #263
I noticed in that doc that they dropped the `-dev` off the branch. I was going based on [packagist/drupal/core](https://packagist.org/packages/drupal/core) but I just confirmed in the [source](https://git.drupalcode.org/project/drupal/-/branches) that they use `9.3.x` which matches the doc you linked @spficklin and the dev is added when a nightly development release is created.

**As such, our new

[2022-08-20 00:29] laceysanderson opened #265 "Upgrade the Chado Property field"
This task will involve upgrading the Tripal 3 [chado_linker__prop](https://github.com/tripal/tripal/tree/7.x-3.x/tripal_chado/includes/TripalFields/chado_linker__prop) field to Tripal 4.

NOTE: ChadoStorage may need to be modified/extended to support multi-value, single-property fields and foreign keys.

[2022-08-26 20:03] #263 closed, assigned to nobody

[2022-08-26 20:15] laceysanderson opened #269 "Permissions are a bit of a mess"
We currently have a CustomAccessCheck class which is basically just bypassing accessing control all together. We also do not have all the permissions from Tripal 3 available yet and some permissions have changed. Ideally they would remain constant.

This issue is a task to fix the above and add automated test coverage for all permissions.

[2022-08-26 20:22] laceysanderson commented on #269
Here are the existing permissions in Tripal 3:
https://github.com/tripal/tripal/blob/7.x-3.x/tripal/tripal.module#L721-L809

[code]

[2022-08-29 17:25] laceysanderson opened #270 "Make Tripal Content Permissions Dynamic (i.e. per Type)"
Currently we have general permissions for CRUD operations on Tripal Content in `tripal/tripal.permissions.yml` as shown below:

[code]

These need to be replaced by a custom access check class which adds per Content Type permissions as we had in Tripal 3 (e.g. "View Gene pages" where "Genes" is a Tripal Content Type).

[2022-08-29 18:03] laceysanderson commented on #270
More digging reveals we already have a custom access class for Tripal Content: [Drupal\tripal\Access\TripalEntityAccessControlHandler](https://github.com/tripal/t4d8/blob/9.x-4.x/tripal/src/Access/TripalEntityAccessControlHandler.php). This will need to be updated to use the new permissions but according to examples in Drupal core, it should not define the permissions themselves.

What we actually

[2022-08-30 22:55] #236 closed, assigned to nobody

[2022-08-30 22:55] #237 closed, assigned to nobody

[2022-08-30 23:05] spficklin commented on #129
The remaining tasks in @laceysanderson checklist are completed. I think this can be closed.

[2022-08-30 23:05] #129 closed, assigned to 4ctrl-alt-del

[2022-08-30 23:05] spficklin commented on #236
Fixed with recent PR

[2022-08-30 23:06] spficklin commented on #237
Fixed with merge PR!

[2022-08-30 23:06] spficklin commented on #212
Chado Prepare Task is done with the recent PRs.

[2022-08-30 23:06] #212 closed, assigned to nobody

[2022-09-21 22:26] laceysanderson opened #272 "Docker Build fails"
The docker build is currently failing for some reason...

[code]

[2022-09-21 23:11] #272 closed, assigned to nobody

[2022-09-26 23:47] spficklin opened #276 "Organism nomenclature in GFF3/FASTA loaders"
This is just a note to make sure we bring in the recent fix by @dsenalik in Tv3 into Tv4.  @risharde this affects the GFF3 loader and FASTA loader once we get that going.

[2022-09-26 23:47] spficklin commented on #276
https://github.com/tripal/tripal/issues/1300

[2022-09-27 19:13] risharde opened #277 "GFF3Importer Unit Tests"
This is not an issue in the sense of an error. This has been created since a new branch is being created to add the GFF3Importer unit testing.

[2022-10-03 17:48] laceysanderson opened #278 "Github Actions spawns too many workflows during development"
The current schema for one job per workflow was done to get around badge limitations in providing the compatibility table on the README. However, during development this spawns a large number of rows in the actions table making it hard to find specific branch results.

My proposed solution is to keep the current workflows but have them only triggered on our master branch. Then to have a single wor

[2022-10-03 21:09] #278 closed, assigned to nobody

[2022-10-04 18:58] spficklin opened #281 "Creation of a tripal_genome extension module and docs repository"
I want to propose to move out the GFF3 and FASTA loaders (and perhaps) others into a `tripal_genome` extension module.  This way, core Tripal really is just core code.  We could even fold in the InterPro, KEGG (if possible to do now), GO and Blast modules into the `tripal_genome` module to make it easier to setup a complete genome website.  Whereas right now, it's a bit all over the place.  This p

[2022-10-06 15:04] laceysanderson commented on #242
As pointed out by @spficklin, this issue has been fixed in per #271. It was also causing errors in the automated testing. I simply removed it and re-initiated the database connection object in each method needing it. I decided on this approach since Tripal DBX had been shown to have some difficulties with stored database connections anyway. Additionally further investigation implies dependency inj

[2022-10-06 15:38] #242 closed, assigned to spficklin

[2022-10-06 15:38] laceysanderson commented on #259
Complete!

[2022-10-06 15:38] #259 closed, assigned to nobody

[2022-10-06 15:39] laceysanderson commented on #258
One step further! Thanks @spficklin for your work on this!

[2022-10-06 16:46] spficklin commented on #242
@laceysanderson that's the exact same approach I've taken in other places too, so we're consistent!

[2022-10-11 16:34] laceysanderson commented on #190
Closing as Tripal DBX is in core now + the other issue mentioned is split out into another issue.

[2022-10-11 16:34] #190 closed, assigned to laceysanderson

[2022-10-11 21:50] risharde opened #282 "GFF and FASTA loader forms - Chado Schema Element placing above the form"
Because we now have the ability to run database operations of different schemas, it might be a good idea to also make the loader forms dynamic with respect to the chado schema element and thus depending elements.

There are fields within these loaders forms which should be populated based on the schema chosen. For example, the select list for organism and analysis (this is not an extensive list) s

[2022-10-11 22:10] laceysanderson commented on #282
Yes, good point! I agree with this suggestion. This is already in the ChadoImporterBase::form() so that specific loaders to do not need to worry about it. Then the ChadoImporterBase::getChadoConnection() uses the schema set/selected. As long as we set `$this->chado_schema_main` via AJAX when someone selects a different schema, then they will get the right schema when they call getChadoConnection()

[2022-10-11 22:38] laceysanderson commented on #269
The mentioned PR fixes permissions for the tripal/tripal module excluding importers. We still need to do the same for the tripal/tripal_chado and tripal/tripal_biodb modules.

[2022-10-13 16:12] laceysanderson commented on #281
I love this idea as I hope it will make it less intimidating for people to contribute to Tripal. This way instead of contributing to CORE they're contributing to a genome-specific extension module which should include less other code. It also provides good examples of best practices in extension modules 🤞

[2022-10-13 16:29] laceysanderson opened #284 "Importer Base Class -duplicated information"
When reviewing the GFF3 importer I noticed we have duplicated information at the top of the class:
1. In the docblock annotation
[code]
2. As class member variables
[code]

This is likely due to the merging of our Tripal 3 classes with the Drupal 9 annotation model.

## GOAL: Only use the annotation and no longer set member variables.

### TASKS:
- Check that all uses of the annotation-set data us

[2022-10-14 05:53] Xueliang24 opened #285 "Vocabularies did not appear in the Tripal tool bar after I finished install Tripal in Drupal guided by Docs"
I used git clone t4b8 repository in my web/modules and when I entered the website,  Vocabularies did not appear![Figures](https://upload-images.jianshu.io/upload_images/12888637-7abb767260cadbc2.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240). I have tried to install it tiwce,
Could you give me some help? somthing errors happend in Tripal -> more -> Tripal Content Terms.
May I choose  to i

[2022-10-14 18:09] laceysanderson opened #286 "When to throw Exceptions vs. log using TripalLogger"
We are currently not consistent with when we use TripalLogger for errors and when we throw exceptions. We should make a plan with a small amount of documentation to ensure this is consistent throughout core.

Here's a quick breakdown from 9.x-4.x as of Oct14:

|                                 | tripal/tripal | tripal/tripal_chado | tripal/tripal_biodb |
| ------------------- | ----------- |------

[2022-10-14 18:28] guignonv commented on #286
The problem with Exception is that you may end up with a WPOTD (white page of the death). The problem with error logging is that some error may exist without blocking the system and if you don't check your log, you may miss them. The problem with site error message is that they sometimes expose part of your system to external users, which may compromise some stuff. And I'm quite sure I forget many

[2022-10-14 20:56] laceysanderson commented on #281
More detail for this proposition from our PMC Meeting:

## Overview

- Move content type creation out of Tripal core and into specific modules
- Move all content type specific fields out of Tripal core and into specific modules
- Conversely, leave only generic fields in Tripal core. Specifically,
    - Linking Tables: chado_linker__contact, chado_linker__prop, operation__analysis, sbo__relationshi

[2022-10-15 00:41] spficklin commented on #286
I think in Importers throwing exceptions is fine because those are run via the Tripal Job system, and when they are run any Exceptions that get thrown are logged. It's nice because it allows the Importer to quickly terminate without having to backtrack through all if the function call stack with more complicated code to handle errors below.

https://github.com/tripal/t4d8/blob/791de47c602bd7d57444

[2022-10-15 00:46] spficklin commented on #286
One other thing to consider. Drupal does recommend that we not use the default PHP exception class but create subclass exceptions instead.

https://www.drupal.org/docs/develop/coding-standards/php-exceptions

So maybe part of the solution is to create subclasses of exceptions that have defined purposes. We can create a `TripalImporterException` class and that implies it should get used in importer

[2022-10-16 22:34] spficklin commented on #285
Hi @Xueliang24 what specifically are you looking for?  For the OBO (vocabulary) Importer?

[2022-10-17 03:29] Xueliang24 commented on #285
Yeah, when I read the guidelines, I missed it. Maybe, I need to learn more OBO knowledges @spficklin

[2022-10-17 03:52] spficklin commented on #285
Was there anything else related to vocabularies you were looking for?

We do have the OBO loader working in Tripal v4. It can be found by clicking on "Data Loaders".  If you have the most recent clone of the 9.x-4.x branch it has both the OBO and GFF3 loaders.   But before you install any vocabularies you will want to install and prepare Chado. You can find both of those by clickin on the "Chado"

[2022-10-17 05:05] Xueliang24 commented on #285
I thought Tripal v4 was like Tripal v3 which made me confused about the problem above. Now I know I need learn more.
Thanks for your warm answer

[2022-10-17 15:39] spficklin commented on #285
@Xueliang24 unforutnately, the documentation for Tripal4 isn't quite yet up to par.  We hope to have an alpha release before the end of the year with improved documentation.

[2022-10-17 16:40] laceysanderson commented on #217
Updating here based on a conversation I had with @guignonv in cofest today.

Some insight into how Tripal DBX chooses to use Chado vs. Drupal as the default database:

- Especially in testing, Drupal often uses the TripalDBX connections for it's own queries. As such, it was important to make Drupal always the default if the additional syntax (i.e. 1:tablename) is not provided.
- In order to still

[2022-10-17 20:05] laceysanderson commented on #217
Added a test to show exactly what we were experiencing:

[code]
[Results](https://github.com/tripal/t4d8/actions/runs/3268096209) are as we have experienced: the first assert (when `{1:feature}` is used) passes and the second assert (when `{feature}` is used) fails. As shown in the error output it applies the Drupal table prefixing rather then Chado.

Now to start working on @guignonv's suggestion

[2022-10-19 15:45] laceysanderson commented on #94
Closing this issue as documentation has moved to the tripal_doc repository.

[2022-10-19 15:45] #94 closed, assigned to nobody

[2022-10-19 16:16] laceysanderson commented on #113
Closing this issue as documentation has moved to the tripal_doc repository. See https://github.com/tripal/tripal_doc/issues/1

[2022-10-19 16:16] #113 closed, assigned to nobody

[2022-10-19 16:19] laceysanderson commented on #124
Closing this issue as documentation has moved to the tripal_doc repository. See https://github.com/tripal/tripal_doc/issues/2

[2022-10-19 16:19] #124 closed, assigned to nobody

[2022-10-19 16:20] laceysanderson commented on #170
Closing this issue as documentation has moved to the tripal_doc repository. See https://github.com/tripal/tripal_doc/issues/3

[2022-10-19 16:20] #170 closed, assigned to nobody

[2022-10-19 16:35] #197 closed, assigned to laceysanderson

[2022-10-21 20:17] laceysanderson commented on #196
This functionality was submitted by Rish through a PR and thus this is resolved.

[2022-10-21 20:17] #196 closed, assigned to nobody

[2022-10-24 16:00] laceysanderson opened #291 "Chado prepare step needs automated testing"
As the title says: Chado prepare step needs automated testing.

There is some basic testing of this in so far as it's run as part of the docker image build and thus if it errors out all tests fail... BUT clearly true automated testing is better. This came up because the prepare stage is often needed before other testing and when run in tests, @risharde encountered the following error:

[code]

In

[2022-10-24 16:44] 4ctrl-alt-del opened #292 "Add Data Sequence Field"
This issue is for adding the data__sequence field to tripal 4.

[2022-10-26 12:14] Xueliang24 commented on #285
I am so sorry open this issue again. I tried to accomplish the flow (from install drupal to tripal) again. After I installed Drupal, I want to install the Tripal. I followed the steps from guidelines:

2.Clone this repository in your web/modules directory.
3.Enable Tripal in your site using the Administration Toolbar > Extend
4.Use drush to rebuild the cache (drush cache-rebuild) so Tripal menu it

[2022-10-26 15:43] Xueliang24 commented on #285
I also tried to install tripal by docker. emm... It also told me that The website encountered an unexpected error. Please try again later. May be I need know what happened by Xdebug

[2022-10-30 08:55] spficklin commented on #291
I've created a branch to work on this:  tv4g2-291-prepare_test

@risharde and I are both hitting on this problem and we're going to have major merge conflicts if we try to make fixes in our two branches.  So this branch is to fix all of the issues with testing the prepare, including all connected items (ontology loader).

[2022-10-31 19:23] laceysanderson commented on #291
To summarize progress discussed in cofest today, we just realized that it was not clear that me + @risharde had already started on this before @spficklin did. We have been working in branch `tv4g1-issue291-testChadoPrepare`.

We are now working to merge in @spficklin's work into this branch. Moving forward:
- @spficklin will work as he's able on fixes to the prepare step code so that it doesn't fa

[2022-10-31 19:47] laceysanderson commented on #291
I've just created a PR to try to merge our efforts with a commit that fixes the merge conflicts that popped up.
https://github.com/tripal/t4d8/pull/293/

[2022-11-01 21:10] #217 closed, assigned to guignonv

[2022-11-01 23:11] laceysanderson opened #294 "Tripal DBX, Drupal Query Builder + guessing default database"
This came up in #274. In PR #290 we added support/documentation for Tripal DBX to guess that even if the table is not prefixed in some cases you would want to use Chado anyway. For example, you should be able to do `$connection->query("SELECT * FROM {feature}");` and even though it's not `{1:feature}` Tripal DBX should know to use Chado.

While the above case now works, the query builder does not

[2022-11-01 23:14] laceysanderson commented on #294
In the meantime, using the 1 prefix to your table name fixes the problem. When this issue is fixed it will also update the existing places Tripal DBX query builder has been used.

For example,
[code]

[2022-11-02 20:38] laceysanderson opened #295 "Validation error when leaving optional fields empty"
When I create a gene through the UI, I get an error indicating that the sequence length is not of the correct primitive type when I leave it empty and try to save. The validation error is "This value should be of the correct primitive type. " with the "Sequence Length" field highlighted in red. Since this field is not required, I should be able to leave it empty without a validation error.

I susp

[2022-11-02 20:50] laceysanderson opened #296 ""Check for new fields" on "Manage Fields" pages causes a WSOD"
For any Tripal content type, the "Check for new fields" button at the top of the "Manage fields" page produces a WSOD. When you check the logs you see the following error:

[code]

## Steps to Reproduce

1. Navigate to the manage fields page for an organism (or any content type) by going to Tripal > Page Structure in the admin toolbar
2. Click on the arrow beside edit for organism (3rd row) and se

[2022-11-04 17:42] spficklin opened #298 "Type_ID fields"
This issue is a requirement for alpha1 release.   We need a field that can link the entity type to a `type_id` value  in the Chado tables.   The end-user should not be allowed to change this value. It's only needed for content types whose type directly maps to a type in Chado.

In contrast, some Chado records may have a type ID (e.g. `organism.infraspecific_type`) which provide additional context

[2022-11-04 18:10] spficklin opened #299 "Tripal Prepare Field Addition"
Currently in our ChadoPrepare step, there are functions that will automatically add fields to the content types.  This works fine but could be more easioly managed if this information was in a YAML schema file, where we can specifically state what fields are attached to which content types and default settings.  That way we don't have to add functions that do a lot of the same things everytime we

[2022-11-21 18:56] spficklin opened #301 "Invalid or unsupported Chado schema version '1.3x'."
When running functional tests both myself and @risharde were getting the error message:
`Invalid or unsupported Chado schema version '1.3x'.`  It seems that this problem occurs because the version is getting set here:

https://github.com/tripal/t4d8/blob/c4ce1133352901916e8b8cbe9f97a173a30fd54e/tripal_chado/src/Database/ChadoConnection.php#L243-L245

But this shouldn't be happening. this code shou

[2022-11-21 18:56] spficklin commented on #301
I should add, in my `tv4g1-129-TripalFields-complex-properties` branch I removed the 'x' in the `1.3x` so that testing would continue on.